<html>
	<head>
	<script>
					var cancelDestination = '<%= protocols_path %>';
	</script>
	</head>
<body>


<%= form_tag({:action => "edit_protocols"}, {:method => "post"}) do %>
      <fieldset>
			<legend>Update Protocol</legend>
			<input type='hidden' name='protocol_id' value=<%= @protocol.id %>
      <br />
      <label for="name">Name</label>
      <%= text_field_tag :name, @protocol.name %>

      <label for="description">Description</label>
      <%= text_field_tag :description, @protocol.description %>
      
      <label for="datatype">Data type</label>
      <%=select_tag "datatype", options_for_select(["","Datetime","Time", "Boolean", "Number", 'List', "Text"]) %>
                <legend>Update Protocol</legend>
			 <label for="list_type">List Type</label>
       <select id="list_type" condition="__$('datatype').value == 'List'" 
				optional="false" name="listtype">
								<option></option>
								<option value="Location">Health Facilities</option>
								<option value="Residence">Residential</option>
                <option value="Gender">Gender</option>
			</select>

      <label for="parent_protocol">Parent Protocol</label>
      <select id="parent_protocol" name="parent_protocol" optional="true">
								<option></option>
								<% (@parents || []).each {|protocol| %>
								<option value="<%= protocol[0] %>"><%= protocol[1] %></option>
								<% } %>
				</select>														
				</fieldset>
 	<%= link_to "Cancel" , protocols_path %>
	<%= submit_tag "Finish" %>
           
<%end%>

</body>
</html>


