<html>
  <head>
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <script>
    var cancelDestination = '<%= protocols_path %>';
  </script>
  </head>
<body>
<%= form_tag({:action => "new_protocol"}, {:method => "post"}) do %>
  <fieldset fs_onLoad="addButton();">
   <legend>Add Protocol</legend>
     <br />
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="" optional="false" />
      <label for="description">Description</label>
      <input type="text" name="description" id="description" value="" optional="false" />
      <label for="datatype">Data Type</label>
      <%=select_tag "datatype", options_for_select(["","Datetime","Time", "Boolean", 
			"Number", "List", "Text"]), :value =>"Number" %>

      <label for="list_type">List Type</label>
      <select id="list_type" condition="__$('datatype').value == 'List'" optional="false" name="listtype">
	<option></option>
	<option value="Location">Health Facilities</option>
	<option value="Residence">Residential</option>
        <option value="Gender">Gender</option>
      </select>
      <label for="parent">Parent Protocol</label>
      <select id="parent" name="parent_protocol" optional="true">
	<option></option>
	<% (@protocols || []).each {|protocol| %>
	<option value="<%= protocol[0] %>"><%= protocol[1] %></option>
	<% } %>
     </select>
     </fieldset>
 	<%= link_to "Cancel" , protocols_path %>
	<%= submit_tag "Finish" %>      
<%end%>
</body>
</html>
<script>
   $(function() {
     /*
      btnOuter = document.createElement("div")
      btnOuter.style.display = "table-cell"
      btnOuter.innerHTML = '<button id="?" class="button blue" style="width: 65px; height: 60px; min-width: 40px; min-height: 40px; margin: 2px; font-size: 24px;">?</button>'
      document.getElementById('fixedkeyboard').childNodes[0].lastChild.appendChild(btnOuter);
      */
});
</script>