<html>
  <head>
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
    <%= stylesheet_link_tag 'panel' %>
    <style>
      .dL {
        font-weight: unset;
}
.header {
    font-weight: bold;
    width: 90% ! important;
    text-align: center ! important;
    vertical-align: middle ! important;
}
    </style>
    <script>
       	var cancelDestination = "/htcs?tab=admin";
        tests = JSON.parse('<%= @tests.to_json.html_safe %>')
      function __$(id){
        return document.getElementById(id)
      }

      function loadCustom(){
             __$('row1').style.display = "none";
          __$("buttons").style.verticalAlign = "bottom";
          __$("buttons").style.width = "100%";
          __$("buttons").style.height = "100%";
          var display = "inline-table";
          var btnDivs = __$('buttons').children[0].children;

          btnDivs[1].style.display = "none";
          btnDivs[2].style.display = "none";

          btnDivs[0].style.display  = "inline-table";
          btnDivs[3].style.display  = "inline-table";

          btnDivs[3].style.cssFloat = "right";

          var dsp = document.createElement("div");
          dsp.id = "dsp";
          dsp.style.display = "table-cell";
          dsp.style.border = "1px solid #3465a4";
          dsp.style.overflow = "hidden";
          dsp.style.borderRadius = "10px";
          dsp.style.width = "50%";
          dsp.style.height = "100%";
          dsp.style.verticalAlign = "top";
          dsp.innerTHML = "none";

          //__$('textForid').style.height = "100%";
         // __$('textForid').style.width = "100%";

          var lst = __$('ul1').children;
          for (var i=0; i < lst.length ; i++) {
                lst[i].onmousedown = function() {
                   highlightList(this);

                   if (this.getAttribute("value").toLowerCase() == "test details"){
                       var html = "";
                     var textFornumber = document.createElement("input");

                     var inPos = "<input type='input' id='txtYearFortextFornumber' " +
								"target='textFornumber' value='' " +
								" onmousedown='overwriteNumber = true;" +
								" if(__$(\"keyboard\")){document.body.removeChild(__$(\"keyboard\"));} " +
								"else {showShield(\"checkDate(\" + this.getAttribute(\"textFornumber\") + \", false)\"); " +
								" showKeyboard(__$(\"txtYearFor\" + this.getAttribute(\"target\"))," +
								"{\":\":\":\",\"/\":\"/\",\".\":\".\"},true);} "+
								"checkDate(this.getAttribute(\"target\"));' class='input_cell'" +
								" style='position:relative; top:-10px; font-size: 24px; text-align: center; width: 50%;'>";


                    html += "<span class='d dL'> PT Panel Lot Number </span>" +
						 "<span class='d dC'> : </span>" +
						 "<span class='d dR'>" + inPos  + "</span>";

                 var textForptdate = document.createElement("input");
                 var inPos = "<input type='date' id='txtYearFortextForptdate' " +
								"target='textForptdate' value='' " +
								"onmousedown='overwriteNumber = true;" +
								" if(__$(\"keyboard\")){document.body.removeChild(__$(\"keyboard\"));} " +
								"else {showShield(\"checkDate(\" + this.getAttribute(\"textForptdate\") + \", false)\"); " +
								" showKeyboard(__$(\"txtYearFor\" + this.getAttribute(\"target\"))," +
								"{\":\":\":\",\"/\":\"/\",\".\":\".\",\"abc\":\"abc\"},true);} "+
								"checkDate(this.getAttribute(\"target\"));' class='input_cell'" +
								" style='position:relative; top:-10px; font-size: 24px; text-align: center; width: 50%;'>";


                    html += "<span class='d dL'> Date PT done </span>" +
						 "<span class='d dC'> : </span>" +
						 "<span class='d dR'>" + inPos  + "</span>";


                   }
                   else{
                   var html = "";

                  for (x = 0; x < tests.length; x++){
                    
                    html += "<span class='d dL header'> " + tests[x] + " </span>";

                  var textFordates = document.createElement("input");

                     var inPos = '<input id="textFortypeExpire' + tests[x] + '" type="text"' +
                        'style="font-size: 24px; padding: 10px; border: 1px solid rgb(52, 101, 164); border-radius: 10px; width: 98.5%; margin: auto;" ' +
                        'target="typeExpire' + tests[x] + '" fieldtype="text" pos="2" section="0">'


		  html += "<span class='d dL'> Expiry Date </span>" +
						 "<span class='d dC'> : </span>" +
						 "<span class='d dR'>" + inPos  + "</span>";

                      var textFordates = document.createElement("input");

                     var inPos = '<input id="textFortypeLot' + tests[x] + '" type="text"' +
                        'style="font-size: 24px; padding: 10px; border: 1px solid rgb(52, 101, 164); border-radius: 10px; width: 98.5%; margin: auto;" ' +
                        'target="typeLot' + tests[x] + '" fieldtype="text" pos="2" section="0">'


                      html += "<span class='d dL'>Lot Number</span>" +
                                                     "<span class='d dC'> : </span>" +
                                                     "<span class='d dR'>" + inPos  + "</span>";

                    var textFordates = document.createElement("input");

                     var inPos = '<input id="textFortype' + tests[x] + '" type="text"' +
                        'style="font-size: 24px; padding: 10px; border: 1px solid rgb(52, 101, 164); border-radius: 10px; width: 98.5%; margin: auto;" ' +
                        'target="type' + tests[x] + '" fieldtype="text" pos="2" section="0">'


		  html += "<span class='d dL' style='font-weight:light ! important;'>Result </span>" +
						 "<span class='d dC'> : </span>" +
						 "<span class='d dR'>" + inPos  + "</span>";
                                               
                                               
                    }
                   }
                __$('dsp').innerHTML = html;
                }
          }
          row.insertBefore(dsp, row.firstChild);

          __$("row0").parentNode.appendChild(__$('buttons'));
  }
  	function highlightList(obj) {
    if(obj.getAttribute("target") != null){
      if(__$(obj.getAttribute("target"))){
        var opts = __$(obj.getAttribute("target")).children;

        for(var i = 0; i < opts.length; i++){
          if(opts[i].getAttribute("selecttag") != null){
            opts[i].removeAttribute("selecttag");
            opts[i].style.backgroundColor = (opts[i].getAttribute("tag") == "odd" ? "#eee" : "");
          }
        }
      }

       }
        }
    </script>

  </head>
  <body onload="loadCustom()">
    <%= form_tag tests_path do %>
    <fieldset fs_onLoad="loadCustom();" id="tests">
          <legend>Proficiency Tests for counselor <%= current_user.username.humanize %></legend>
          <label for="samples"></label>
          <select id="samples" >
            <option></option>
            <option value="test details">Test Details </option>
            <option value="sample 1">Sample 1</option>
            <option value="sample 2">Sample 2</option>
            <option value="sample 3">Sample 3</option>
            <option value="sample 4">Sample 4</option>
            <option value="sample 5">Sample 5</option>
            <option value="sample 6">Sample 6</option>
          </select>
    </fieldset>
 <%= submit_tag "Finish" %>
    <% end %>
  </body>
  <%= javascript_include_tag 'touchscreentoolkitV2/ts' %>
</html>