<html>
	<head>
	<script>
					var cancelDestination = '<%= users_path %>';
	</script>
	</head>
	
	<body>

	<%= form_for(@user) do |f| %>
			<% @role = @user.user_roles.map(&:role).first %>
			<fieldset>
				<legend>Update User</legend>
                                <label for="username">New username</label>
				 <input type="text" id="username" name="user[username]" fieldtype="text"/>

				<br />

				<label for="password">New password</label>
				 <input type="password" id="password" name="user[password]" fieldtype="password" />
				
				<input type="hidden" name="role" value="<%= @role %>" />
				<label for="user_role">User Role: </label> 
				<select id="user_role" name="user_role[role]" >
				<option></option>
					<% @roles.each do |r| %>
					<option value="<%= r %>"><%= r %></option>
					<% end %>
				</select>
			</fieldset>
		<%= submit_tag "Finish" %>
		         
	<%end%>

	</body>
	
<script>
	document.getElementById('user_role').innerHTML+='<option value="<%= @role %>" selected="selected" > <%= @role %> </option>';
</script>
</html>


