<html>
	<head>
	<script>
					var cancelDestination = '<%= users_path %>';
	</script>
	</head>
	
	<body>

	<%= form_for(@user) do |f| %>
			<fieldset>
				<legend>Update User</legend>
				<%=f.label :username, "New username" %>
				<%=f.text_field :username %>

				<br />
				<%=f.label :password, "New password" %>
				<%=f.password_field :password %>	
			</fieldset>
		<%= submit_tag "Finish" %>
		         
	<%end%>

	</body>
	
</html>


