<html>
	<head>
	<script>
		var cancelDestination = "/htcs?tab=admin";
	</script>
		<%= stylesheet_link_tag 'panel' %>
	</head>

<body>

<%= form_tag users_new_path do %>
            <fieldset>
						<legend>Users</legend>
	
						<br />
                <label for="id">  </label>
								<select id="id" name="id">
										<option></option>
										<%= @users.each do |u| %>
											
											<% @role = u.user_roles.map(&:role).first %>
											
											<option value="<%= u.id %>"> <%= u.username %>; <%= @role %></option>
										<% end %>
									</select>
                <br />
							</fieldset>
	<%= submit_tag "Finish" %>
           
<%end%>
</body>
	
	<%= javascript_include_tag 'touchscreentoolkitV2/ts' %>
	<script>
	
	var sidePanelData = {<%= @side_panel_data.html_safe %>};
	
	//Highlist list object
	function highlightList(obj) {
    if(obj.getAttribute("target") != null){
      if(__$(obj.getAttribute("target"))){
        var opts = __$(obj.getAttribute("target")).children;
        
        for(var i = 0; i < opts.length; i++){
          if(opts[i].getAttribute("selecttag") != null){
            opts[i].removeAttribute("selecttag");
            opts[i].style.backgroundColor = (opts[i].getAttribute("tag") == "odd" ? "#eee" : "");
          }
        }
      }
      
      obj.setAttribute("selecttag", true);
      obj.style.backgroundColor = "lightblue";
      obj.style.color = "black";
    }
	}
	
	function del() {
		window.location = window.location = '/users/destroy/' + __$('textForid').value;
	}
	
	function vd(stts) {
		window.location = '/users/retire/' + __$('textForid').value + '?retire=' + stts;
	}
	
	function edit_user() {
		window.location = '/users/' + __$('textForid').value + '/edit';
	}
		
		__$("row1").style.display="none";
		__$("buttons").style.verticalAlign = "bottom";
		__$("buttons").style.width = "100%";
		__$("buttons").style.height = "100%";
		
		btnNext.innerHTML = "New User";
		btnNext.id = "newBtn";
		btnNext.style.width = "250px";
		btnCancel.style.width = "250px";

		var display = "inline-table";

		btnDivs = __$('buttons').children[0].children;
		
		btnDivs[1].style.display = "none";
		btnDivs[2].style.display = "none";
	
		btnDivs[0].style.display  = "inline-table";
		btnDivs[3].style.display  = "inline-table";

		btnDivs[3].style.cssFloat = "right";
		
		var dsp = document.createElement("div");
		dsp.id = "dsp";
		dsp.style.display = "table-cell";
		dsp.style.border = "1px solid #3465a4";
		dsp.style.overflow = "hidden";
		dsp.style.borderRadius = "10px";
		dsp.style.width = "50%";
		dsp.style.height = "100%";
		dsp.style.verticalAlign = "top";
		dsp.innerTHML = "none";

		__$('textForid').style.height = "100%";
		__$('textForid').style.width = "100%";
		
		var lst = __$('ul1').children;
		for (var i=0; i < lst.length ; i++) {
		
				lst[i].onmousedown = function() {
				highlightList(this);
				__$('textForid').value = this.value;
				
				dspValue = this.innerHTML.split(';');
				var s = "";
				var vdBtn;
				var vdtxt;
				var btnClass;
				var stts = 0;
				var userLoggedIn = "";
				var obj = sidePanelData[this.value]
								
				btnNext.style.display = "inline-table";
				
				var edit_btn  = '<button style="margin: 3px; width: 250px; font-size: 24px;"' +
												'onmousedown="edit_user()"' +
												' class="button blue" pos="0" section="0">Edit</button>';
										 
				var del = '<button style="margin: 3px; width: 250px; font-size: 24px;"' +
						 'onmousedown="del()"' +
						 ' class="button red" pos="0" section="0">Delete</button>';
				
				if (obj.retired == false) {
					vdtxt = "Deactivate";
					btnClass = "red";
					stts = 1;
				} else {
					vdtxt = "Activate";
					btnClass = "green";
					stts = 0
				}
				
				vdBtn = '<button style="margin: 3px; width: 250px; font-size: 24px;"' +
								 'onmousedown="vd('+ stts +')"' +
								 ' class="button ' + btnClass + '" pos="0" section="0">' +
								 		vdtxt +
								 '</button>';

				if (<%= session[:user_id] %> == this.value) {
					del = "";
					vdBtn = "";
				}else if (<%= current_logged_in_user_ids -%>.indexOf(this.value) > -1 ) {
					del = "";
					vdBtn = "";
					edit_btn = "";
					userLoggedIn = "<span class='d dL orange'> User Logged In </span>" +
												 "<span class='d dC'> &nbsp; </span>" +
												 "<span class='d dR'> &nbsp; </span>";									
				}else if (vdtxt == "Activate") {
					del = "";
					edit_btn = "";
				}

				s += "<span class='d dL'> Username </span>" +
						 "<span class='d dC'> : </span>" +
						 "<span class='d dR'>" + obj.username  + "</span>";

				s += "<span class='d dL'> Role </span>" +
						 "<span class='d dC'> : </span>" +
						 "<span class='d dR'>" + obj.role  + "</span>";
						 
				s += "<span class='d dL'> Status </span>" +
						 "<span class='d dC'> : </span>" +
						 "<span class='d dR'>" + obj.status  + "</span>";

				s+= userLoggedIn;
				userLoggedIn = "";
				
				s+="<br />";
				s+= "<span class='dL' style='padding:10px;'>" + edit_btn + "</span>";
				s+= "<span class='dR' style='padding:10px;'>" + vdBtn + "</span>";
				s+= "<span class='dL' style='padding:10px;'>" + del + "</span>";
				__$('dsp').innerHTML = s;  
			};
			
		}
		__$('textForid').value = -1;
		row.insertBefore(dsp, row.firstChild);
		__$("row0").parentNode.appendChild(__$('buttons'));
		
		btnCancel.parentNode.parentNode.parentNode.style.backgroundColor="grey";
		
		if (__$('ul1')) {
			__$('ul1').children[0].onmousedown();
		}
	</script>
</html>

