<html>
    <head>        
        <title>Calendar</title>
        <script type="text/javascript">
            var sel = {};
            var today = new Date();
            var y = today.getFullYear();
            var m = padZeros((today.getMonth() + 1), 2);
            var date0 = y + "-" + m + "-" + padZeros(today.getDate(), 2);
            var date1 = y+"-"+m+"-10";
            var date2 = y+"-"+m+"-26";
            
            sel[date1] = 600;
            sel[date2] = 4000;
            
            function padZeros(number, positions){
                var zeros = parseInt(positions) - String(number).length;
                var padded = "";
    
                for(var i = 0; i < zeros; i++){
                    padded += "0";
                }
    
                padded += String(number);
    
                return padded;
            }
            
            
            function updateOnclickForYearChange() {
            	var e = __$('year_inc').getAttribute('onclick') + ';setOnclickEvents()';
            	__$('year_inc').setAttribute('onclick',e);
            	
            	e = __$('year_dec').getAttribute('onclick') + ';setOnclickEvents()';
            	__$('year_dec').setAttribute('onclick',e);                	
            }

            function updateOnclickForMonthChange() {
            	var e = __$('month_inc').getAttribute('onclick') + ';setOnclickEvents()';
            	__$('month_inc').setAttribute('onclick',e);
            	
            	e = __$('month_dec').getAttribute('onclick') + ';setOnclickEvents()';
            	__$('month_dec').setAttribute('onclick',e);            	                        	
            }
            
            
            var previousClick = "";
            
            function makeDate(obj) {
            	var day = obj.innerHTML;
							var month = __$('month').innerHTML;
            	var year = __$('year').innerHTML;
            	
            	var dateSelected = day + "-" + month + "-" + year;
            	 
            	if (previousClick != "" && previousClick != obj) {
            		obj.style.backgroundColor = "#99EE99";
            		previousClick.style.backgroundColor = "white";           		
            	}
            	previousClick = obj;
            	__$('helptxt').innerHTML = dateSelected; 
           		__$('appoint_date').value = dateSelected;
            }
            
            
            function setOnclickEvents() {
            	days = document.getElementsByClassName('cellActive');
            	
            	for(var i=0; i<days.length; i++) {
            		days[i].setAttribute('onclick',"makeDate(this)");
            	}
            }
            
        </script>
    </head>
    <body><div id='content'>
                <form  action='/encounters/new/<%= params[:id] %>' method='post' >
									<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
									<fieldset>
										<input type="hidden" value="Appointment" name="ENCOUNTER"/>
										<input type="hidden" id="appoint_date" name="observations[][value_datetime]"/>
																	
										<%= hidden_field_tag("observations[][concept_name]", "Appointment date") %>
										<%= hidden_field_tag("observations[][patient_id]", params[:id]) %>
										
										<legend> Calendar </legend>

                    <label for="initial_date"> Calendar </label>
                    <input type='text' field_type='calendar' name='initial_date' id='initial_date' 
                           helptext='Appointment' value="<%= @initial_date -%>" 
                           startweekdate="<%=@start_week_date -%>" endweekdate="<%= @end_week_date -%>" />
									</fieldset>
                </form>
       
        </div>
    </body>
    
		<%= javascript_include_tag 'touchscreentoolkitV2/ts' -%>
		<%= stylesheet_link_tag 'form' %>
		<%= stylesheet_link_tag 'calendar' %>
		<%= javascript_include_tag "calendar" -%>
		
		<style>
			#calendar {
				margin-top: 0px;
				margin-left: 0px;
			}
			
			#stage {
				height:0px;
			}
			
			.cTable {
				height: 78%;
				width: 97%;
			}

			.cRow {
				line-height: 30px;
			}
		</style>

    <script>
    
      var selected = {};
      var selecteddate = null;
      var start_date_week = null;
      var end_date_week = null;
    	var inputElement = document.getElementById('initial_date');
      
      if(inputElement.getAttribute("selecteddays")){
          selected = eval(inputElement.getAttribute("selecteddays"));
      }
      
      if(inputElement.getAttribute("startweekdate")){
          start_date_week = inputElement.getAttribute("startweekdate");
      }
      
      if(inputElement.getAttribute("endweekdate")){
          end_date_week = inputElement.getAttribute("endweekdate");
      }
      
      selecteddate = inputElement.value;
      
      __$('row0').style.display = "none";
     // __$('buttons').style.display = "none";
      __$('textForinitial_date').style.display = "none";
      __$('cell0.3').style.display = "none";
      __$('fixedkeyboard').style.display = "none";
      
      
      createCalendar('content', inputElement.id, selecteddate, 
          selected, start_date_week, end_date_week);
          
      __$('content').style.width = "100%";
      __$('calendar').style.width = "99.5%";
      __$('chart').style.width = "100%";
      __$('stage').style.height = "0px";
      __$('stage').style.textAlign = "left";
      __$('calendar').appendChild(__$('stage'));
      
      __$('buttons').style.position = "relative";
      __$('buttons').style.display = "block";
      __$('buttons').style.width = "99.5%";
      __$('buttons').style.height= "82px";
      
      __$('content').appendChild(__$('buttons'));
      
      __$('btn0').style.cssFloat="right";
      __$('btn0').style.width="250px";

      __$('buttons').children[0].children[0].style.display="inline-table";
      __$('buttons').children[0].children[1].style.display="inline-table";
      __$('buttons').children[0].children[2].style.display="inline-table";
      __$('buttons').children[0].children[3].style.display="inline-table";                  
      
      __$('btn0').style.width="250px";
            
      __$('btn1').style.display="none";
            
      __$('btn2').style.display="none";
      __$('__content').style.display="none";
      
      __$('btn3').parentNode.style.cssFloat = "right"
      __$('btn3').style.width="250px";
      
      __$('year').parentNode.style.cssFloat="right";
      __$('year').parentNode.style.marginRight = "-30px";
    
    //Setup calendar
    
    	setOnclickEvents();
    	updateOnclickForYearChange();
    	updateOnclickForMonthChange();
    </script>
    
</html>
