<html>
<head>
  <%= javascript_include_tag 'multi_column_controls' %>
  <script>

      //var cancelDestination = addLink(window, <%=params[:client_id] %>)
      function __$(id){
          return document.getElementById(id);
      }

      selectAll = false;
  </script>
  <script language="javascript">
      tstUsername = "";
      tstCurrentDate = "2010/03/12";
      tt_cancel_destination = '/htcs';
      tt_cancel_show = 'show.html';

      function __$(id){
          return document.getElementById(id);
      }
          setInterval(function () {
            document.getElementById('keyboard').style.display = "none";
              document.getElementById('parent0').style.height = "100%";
              document.getElementById('inputFrame0').style.height = "90%";
          }, 100);
  </script>
  <style>
    #parent0{ height: 100%;}
    #keyboard, .keyboard {
        display: none;
    }
    li{
        font-size: 2em;
    }
  </style>
</head>
<body >

    <form method = 'post' action = "/encounters/new/<%= params[:client_id] %>">
      <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
      <input type="hidden" value="COUNSELING" name="ENCOUNTER"/>
      <%= select_tag 'obs',
                     options_for_select(@protocol.collect{ |p|
                                          [p.name, p.name]
                                        }, []),
                     :helpText => "Risk Assessment for #{@client.name.split.map(&:capitalize).join(' ')}",
                     :tt_onLoad =>"createMultipleSelectControl()",
                     :multiple =>  true %>
    </form>

</body>
</html>
