<html>
	<head>
		<script>
			var cancelDestination = "clients/<%= params[:client_id] %>";
		</script>
	</head>
<body>	
	<form action='/encounters/new/<%= params[:client_id] %>' method='post'>
	<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
	<input type="hidden" value="COUNSELING" name="ENCOUNTER"/>
	 
		<% x = 0
			 y = 1
			 	set = 0
				@protocols.each do |protocol| 
					 if x == 0 
						set = 0 %>
						<fieldset>
						<legend>Counseling Protocols Page <%= y %></legend>
						<% end %>
							<label for="obs[<%= protocol.id %>]"> <%= protocol.name %> </label>
							<label for="<%= protocol.id %>.1">Yes</label>	
							<input type="radio" name="obs[<%= protocol.id %>]" id="<%= protocol.id %>.1" value="YES">
							<label for="<%= protocol.id %>.2">No</label>
							<input type="radio" name="obs[<%= protocol.id %>]" id="<%= protocol.id %>.2" value="NO">
							<br />
						<% if x == 2 
								x = 0 
								set = 1 %>
								</fieldset>
						<% end
						x = x + 1
						y = y + 1 %>
		<% end %>
				
			<button type='submit'>Finish</button>
			
	</form>
</body>
</html>
