<html>
<head>
  <%= javascript_include_tag 'multi_column_controls' %>
  <script>

      //var cancelDestination = addLink(window, <%#=params[:client_id] %>)
      function __$(id){
          return document.getElementById(id);
      }

      selectAll = false;
  </script>
  <script language="javascript">
      tstUsername = "";
      tstCurrentDate = "2010/03/12";
      tt_cancel_destination = '/htcs';
      tt_cancel_show = 'show.html';

      function __$(id){
          return document.getElementById(id);
      }
          /* setInterval(function () {
            document.getElementById('keyboard').style.display = "none";
              document.getElementById('parent0').style.height = "100%";
              document.getElementById('inputFrame0').style.height = "90%";
          }, 100); */
  </script>
  <style>
    #parent0{ height: 100%;
    position: absolute;}

    #keyboard, .keyboard {
        display: inline;
    }
    li{
        font-size: 2em;
    }
          .tip {
              position: relative;
              z-index: 1000;
              top: 80%;
              left: 5%;
          }
  </style>
</head>
<body>
    <form method = 'post' action = "/encounters/new/<%= params[:client_id] %>">
      <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
      <input type="hidden" value="COUNSELING" name="ENCOUNTER"/>
      <%= select_tag 'obs',
                     options_for_select(@protocol.collect{ |p|
                                          [p.name, p.name]
                                        }, []),
                     :helpText => "Assessment: #{@client.name.split.map(&:capitalize).join(' ')}&nbsp;&nbsp;&nbsp;(Tick if answer is 'YES'.)",
                     :tt_onLoad =>"createMultipleSelectControl()",
                     :multiple =>  true %>
      <%= select_tag 'obs',
                     options_for_select(@protocol.collect{ |p|
                                          [p.name, p.name]
                                        }, []),
                     :helpText => "Assessment: #{@client.name.split.map(&:capitalize).join(' ')}&nbsp;&nbsp;&nbsp;(Tick if answer is 'YES'.)",
                     :tt_onLoad =>"createMultipleSelectControl()",
                     :multiple =>  true %>
      <%#= select_tag("observations[][value_coded_or_text]", options_for_select(['','Low Risk','On-going Risk','High risk event']),
                     :helpText =>"Risk Assessment Outcome for #{@client.name.split.map(&:capitalize).join(' ')}",
                     :allowFreeText => false)%>
      <%#= text_field_tag :summary, nil,
                         { :tt_onLoad => "",
                           :optional => "true",
                           :tt_pageStyleClass => "NoControls",
                           :tt_onUnload => 'removeButton();'} %>
    </form>

</body>
</html>
