<!DOCTYPE=html>
<html>
	<head>
		<title>Current Visit</title>
		<%= javascript_include_tag 'custom' %>
		<script>
								  function __$(id){
										return document.getElementById(id)
									}
									
								 function logout(){
									
								}

					function closeLists() {
						// body...
						document.getElementById('lists').style.display = "none";
						document.getElementById('lists').innerHTML ="";
					}

                  function loadTasks(){
											coordinates = position(__$("tasks"))
                      var htcTasks = [["Assessment", "/client_assessment/<%= @client.id %>", "assessment"],[ "Counseling", "/client_counseling?client_id=<%= @client.id %>", "counseling"],
                          ["HIV Testing", "/client_testing?client_id=<%= @client.id -%>","testing"],["Extended Testing", "/extended_testing/<%= @client.id -%>","extend"],["Schedule", "/appointment/<%= @client.id %>","appointment"],["Referral","/referral_consent/<%= @client.id %>","confirmation"]]
                     var ele = document.getElementById('cover');
                      ele.style.display = "inline";
                      document.body.appendChild(ele);

                      var ele = document.getElementById('lists')
											ele.style.top = coordinates[0]
											ele.style.left = coordinates[1] - 230
                      ele.style.display = "inline";
											
											var table = document.createElement("div");
											table.className = "tables";
										  ele.appendChild(table);


											//create a row
											var cancel_row = document.createElement("div");
											cancel_row.className = "rows";
											
											//create a blank cell to help floating the cancel button to the right
											var blank_cell = document.createElement("div");
											blank_cell.className = "cells";

											//create the blank cell data
											blank = ""
											blank_cell.innerHTML = blank;
											cancel_row.appendChild(blank_cell);

											//create the button cell
											var cancel_cell = document.createElement("div");
											cancel_cell.className = "cells";
											
											//create a cancel button
											cancel_button = '<a href="#" class="void" onmousedown="closeLists();" style="float: right;">X</a>';
											

											//append cancel button to cell
											cancel_cell.innerHTML = cancel_button;
											
											//append cell to row
											cancel_row.appendChild(cancel_cell);
											
											//append row to table
											table.appendChild(cancel_row);
											
											
											var row = document.createElement("div");
                      row.className = "rows";
                      table.appendChild(row);
											

                      for (var i = 0; i < htcTasks.length; i++){
										  if (i % 2 != 1){
												var row = document.createElement("div");
                        row.className = "rows";
                        table.appendChild(row);
											}
                     
                      var cell = document.createElement("div");
                      cell.className = "cells";
                      html = '<a class="tskblue" id="' + htcTasks[i][2] + '" style="width:120px;" href="' + htcTasks[i][1] + '"><span class="txt">' + htcTasks[i][0] + '</span></a>';
                      cell.innerHTML = html
                      row.appendChild(cell)
                      }
                      
											var row = document.createElement("div");
                      row.className = "rows";
                      table.appendChild(row); 
											
										  var cell = document.createElement("div");
                      cell.className = "cells";
                      html = '<a class="tskblue" id="logout" style="width:120px;" href="" onclick="logout();"><span class="txt">Logout</span></a>';
                      cell.innerHTML = html
                      row.appendChild(cell)
                  }

								 function checkFrame(){
									 if (window!=window.top) {     
													 if (window.top.location.href.match(/couple/g)){
															createButtons()
													 }
												
										} else{
												createButtons()
										}
								}

										function createButtons(){
													  
														var covers =  document.getElementById("frame_data");
														html = '<button class="blue" style="width:120px;" onmousedown="window.location = ' + "'/client_demographics?client_id=<%= @client.id -%>'" + '">';
														html +=  'Demo..</button>';
														html += '<button class="blue" style="width:120px;" onmousedown="window.location = ' + "'<%= @task["url"] rescue "" -%>'" + '">';
														html += 'Next</button>';
														html += '<button class="blue"  id="tasks" style="width:120px;"onmousedown="loadTasks()">';
														html += ' Tasks</button>';
													 covers.innerHTML = html;
										}

                  function confirm(node){
                     var ele = document.getElementById('cover')
                      ele.style.display = "inline";
                      document.body.appendChild(ele);

                      var ele = document.getElementById('popup')
                      ele.style.display = "inline";
                      html = "<div style='display:table;width:100%;'><div style='display:table-row;width:100%;'>"
                      html += "<div id='text'>Continue Voiding?</div></div><div style='display:table-row;width:100%;'>"
                      html += '<div style="display:table-cell;width:100%;"><div style="display:table;width:100%;"><div style="display:table-row;width:100%;"><div id="cancel"><button class="button red_cancel" style="margin: 3px; font-size: 20px; height: 60px;" onmousedown="reset()">No</button></div>'
                      html += '<div id="confirm"><button class="button blue" style="margin: 3px; font-size: 20px; height: 60px;" onmousedown="voiding(' + node + ')">Yes</button></div>'
                      html += "</div></div></div></div></div>"
                      ele.innerHTML =  html;
                      document.body.appendChild(ele);
/*
                      var newDiv = document.createElement('div');
                      newDiv.id = "alertPage";
                      newDiv.className = "alert-box warning"
                      newDiv.style.left = "39%";
                      newDiv.style.top = "30%";
                      newDiv.style.width = "348px";
                      newDiv.style.height = "200px";
                      */
                  
                  }
			  function voiding(node) {
						if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari  
								xmlhttp=new XMLHttpRequest();                                             
							}else{// code for IE6, IE5                                                  
								xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
							}                                                                           
							xmlhttp.onreadystatechange=function() {                                     
								if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
								  var results = xmlhttp.responseText;
                  <% if @client.partner_present == true %>
                      window.location.href = "/client_current_visit?client_id=<%= @client.id %>"
                  <% else %>
                      window.top.location.href = "/clients/<%= @client.id %>"
                  <% end %>
								  }                                                                     
								}                                                                         
							                                                                         
							xmlhttp.open("GET","/encounters/void/" + node, true); 
							xmlhttp.send();
				}

        function reset(){
            ele = document.getElementById('cover')
            ele.style.display = "none";
            ele = document.getElementById('popup')
            ele.style.display = "none";
        }

       
		</script>
		<style>
			.tables{
			display: table;
}
			.rows{
			display: table-row;

}
			.cells{
			display: table-cell;
}

.txt {
  color: #000000;
  display: block;
  font-size: 19px;
  position: relative;
  text-align: center;
  top: 100px;
}

    .tskblue {
        border-radius: 15px;
        display: block;
        float: left;
        height: 70px;
        margin-right: 30px;
        vertical-align: baseline;
        width: 90px;
        background-repeat: no-repeat;
        border: 3px outset rgb(73, 93, 135);
        background-color: rgba(33, 103, 185, 0.75);
        opacity: 0.9;
        text-shadow:1px 5px 10px #fff;
        background-size: 120px 70px;
    }


.tskblue {
    background-repeat: no-repeat;
    background-color: rgba(33, 103, 185, 0.75);
    background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
    color: #ffffff;
    font-family: arial,helvetica,sans-serif;
    font-size: 28px;
    float: left;
    margin-top: 35px;
    margin-bottom: 20px;
    vertical-align: baseline;
}

.tskblue span{
    margin-top: -25px;
}

    .tskblue:active, .tskblue:hover{
        border: 3px outset rgb(250, 220, 200);
        background-color: rgba(43, 103, 185, 0.75);
    }
#testing {
	background-image: url(<%= asset_path 'testing.png' %>);
	background-size: cover;
}

#assessment{
 	background-image: url(<%= asset_path 'risk_assessment.png' %>);
}

#counseling{
	background-image: url(<%= asset_path 'users.png' %>);
}

#appointment{
 	background-image: url(<%= asset_path 'schedule.png' %>);
}

#confirmation {
	background-image: url(<%= asset_path 'hospital.png' %>);
}

#extend{
 	background-image: url(<%= asset_path 'extended.jpg' %>);
}

#logout {
	background-image: url(<%= asset_path 'deactive.jpeg' %>);
}    #lists{
      -moz-user-select: none;
      background-color: #D3D3D3;
      border: 4px solid #C6C6C6;
      border-radius: 15px 15px 15px 15px;
      color: #9F6000;
      font-size: 28px;
      padding: 5px;
      position: absolute;
      text-align: center;
      z-index: 991;
    }
    .arrow-right {
        width: 0;
        height: 0;
        border-top: 180px solid transparent;
        border-left: 40px solid #ccc;
        border-bottom: 180px solid transparent;
        cursor: pointer;
    }

    .arrow-left {
        width: 0;
        height: 0;
        border-top: 180px solid transparent;
        border-right: 40px solid #ccc;
        border-bottom: 180px solid transparent;
        cursor: pointer;
    }

    .arrow-left:hover{
        border-right: 40px solid #999;
    }

    .arrow-right:hover{
        border-left: 40px solid #999;
    }

    * {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;
    }


  .red_cancel {
        background-color: #a90329;
        background-image: linear-gradient(to bottom, #a90329, #6d0019);
        border: 1px solid #72021c;
        border-radius: 3px;
        color: #ffffff;
        display: inline-block;
        font-family: arial,helvetica,sans-serif;
        font-size: 28px;
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    }
    .blue {
        background-color: #a7cfdf;
        background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
        border: 1px solid #7eb9d0;
        border-radius: 3px;
        color: #ffffff;
        display: inline-block;
        font-family: arial,helvetica,sans-serif;
        font-size: 28px;
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    }
    .void {
        -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
        -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
        box-shadow:inset 0px 1px 0px 0px #fce2c1;
        background-color:#f7f4f4;
        -webkit-border-top-left-radius:20px;
        -moz-border-radius-topleft:20px;
        border-top-left-radius:20px;
        -webkit-border-top-right-radius:20px;
        -moz-border-radius-topright:20px;
        border-top-right-radius:20px;
        -webkit-border-bottom-right-radius:20px;
        -moz-border-radius-bottomright:20px;
        border-bottom-right-radius:20px;
        -webkit-border-bottom-left-radius:20px;
        -moz-border-radius-bottomleft:20px;
        border-bottom-left-radius:20px;
        text-indent:0;
        border:1px solid #eeb44f;
        display:inline-block;
        color:#ed1a48;
        font-family:Arial;
        font-size:35px;
        font-weight:bold;
        font-style:normal;
        height:40px;
        line-height:40px;
        width:86px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #cc9f52;
    }

    .button {
        border-radius: 10px !important;
        cursor: pointer;
        font-size: 0.5em;
        margin: 3px;
        min-height: 40px;
        min-width: 45px;
        padding: 15px;
    }
    button {
        border-radius: 10px !important;
        cursor: pointer;
        font-size: 0.5em;
        margin: 3px;
        min-height: 50px;
        min-width: 50px;
        padding: 15px;
    }
    #text, #confirm, #cancel{
      display: table-cell;
    }
    #confirm{
      vertical-align: right;
        width:50%;
    }
    #cancel{
      vertical-align: left;
      width:50%;
    }
    #text{
      height: 70px;
        width:100%;
    }

    #popup{
      -moz-user-select: none;
      background-color: #FEEFB3;
      border: 4px solid #C6C6C6;
      border-radius: 15px 15px 15px 15px;
      color: #9F6000;
      font-size: 28px;
      height: 159px;
      left: 38%;
      padding: 5px;
      position: absolute;
      text-align: center;
      top: 5%;
      width: 319px;
      z-index: 991;
    }
    #cover{
      display:none;
      position: relative;
      width: 100%;
      height: 102%;
      left: 0%;
      top: 0%;
      z-index: 990;
      opacity: 0.5;
    }

    .alert-box {
        color:#555;
        background-color: #008B8B;
        border-radius:10px;
        font-family:Tahoma,Geneva,Arial,sans-serif;font-size:18px;
        padding:10px 10px 10px 36px;
        margin:83px;
    }
    .warning {
        border:1px solid #f2c779;
    }

    .alert-box span {
        font-weight:bold;
        text-transform:uppercase;
    }
		</style>
	</head>
        <body style="margin: 10px; overflow: auto; font-family: Helvetica;" onLoad="checkFrame();">
		<div style="display: table; width: 100%;height: 99%;">
			<div style="display: table-row; width: 100%;">
				
				<div style=" width: 100%;display: table-cell; vertical-align: top;border: 3px black solid;border-radius: 15px 15px 15px 15px;hieght:200px;overflow: auto;">
					
					<div style=" width: 100%;display: table; margin: auto;">
						<div style="display: table-row; width: 100%;">
							<div style="display: table-cell;width:100%;padding-bottom: 15px;padding-left: 15px;padding-right: 15px;">
                                                          <div style="padding-bottom: 15px;">
								<label style="color: #5679c1; font-weight: bold; font-size: 16px;float:left;">Summary  <%= @show_name %></label>
								
                                                                <label  style="color: #5679c1; font-weight: bold; font-size: 16px; float: right;">
                                                                  <div id="frame_data">
                                                                  </div>
                                                                </label>
                                                                
                                                          </div>
								<div style="display: table; border: 1px solid #5679c1; font-size: 18px; width: 100%;">
									<div style="display: table-row; width: 100%;">
										<div style="display: table-cell; border-bottom: 1px dotted #5679c1; font-weight: bold; padding: 5px;width:16%;">
											First State Time:
										</div>
										<div style="display: table-cell; border-bottom: 1px dotted #5679c1; padding: 5px;width:16%; border-right: 1px solid #5679c1;">
												<%= @firststatus.encounter_datetime.strftime("%I :%M") rescue "NaN" %>
										</div> 
									
										<div style="display: table-cell; border-bottom: 1px dotted #5679c1; font-weight: bold; padding: 5px;width:16%;">
											Current State:
										</div> 
										<div style="display: table-cell; border-bottom: 1px dotted #5679c1; padding: 5px;width:16%; border-right: 1px solid #5679c1;">
											<%= @status.name.humanize rescue "NaN"%>
										</div> 
									
										<div style="display: table-cell; border-bottom: 1px dotted #5679c1; font-weight: bold; padding: 5px;width:17%;">
											Current State Start:
										</div> 
										<div style="display: table-cell; border-bottom: 1px dotted #5679c1; padding: 5px;width:16%;">
											<%= @status.encounter_datetime.strftime("%I :%M") rescue "NaN" %>
										</div> 
									</div>
								</div>
							</div>
                                                </div>
                                                <div style="display: table-row;width:100%;">
							<div style="display: table-cell;width:100%;padding-left: 15px;padding-right: 15px;">
								<label style="color: #5679c1; font-weight: bold; font-size: 16px;"> History</label>
								
								<div style="display: table; width: 100%; border: 1px solid #5679c1; font-size: 15px;vertical-align: top;">
                                                                      <% @encounters.each{|encounter| %>
									<div style="display: table-row; width: 100%;">
										<div style="width: 15%;vertical-align: top;display: table-cell; border-bottom: 1px dotted #5679c1; padding: 5px; border-right: 1px solid #5679c1;">
											<%= encounter.encounter_datetime.strftime("%I : %M")  %>
										</div> 
										<div style="vertical-align: top;display: table-cell; border-bottom: 1px dotted #5679c1; padding: 5px;width:70%;">
											 <b><%= encounter.name   %>:</b> <br />
												<%= encounter.to_s.html_safe   %>
												<% answers = CounselingAnswer.where("encounter_id = ?", encounter.encounter_id)
													 (answers || []).each { |answer| %>
														<%= answer.to_s.html_safe %>
												<% } %>
										</div> 
										<div style="display: table-cell; border-bottom: 1px dotted #5679c1;width:15%;">
										<a href="#" class="void" onmousedown="confirm('<%= encounter.encounter_id %>')">X</a>
									 </div>
									</div>
									<% } %>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</body>
</html>		
  <div id="cover" align="center">
  </div>
  <div id="popup" style="display:none">
  </div>
	  <div id="lists" style="display:none">
  </div>
<script>

</script>
