<html>
		<head>
					<script>
						var cancelDestination = "clients/<%= params[:client_id] %>";
					</script>
		</head>
<body>
		<%= form_tag({:action => "new"}, {:method => "get"}) do %>
			<input type='hidden' name='name_id' value=<%= @client.id %> />
			<fieldset>
						<legend>Update Demographics</legend>
						<label for="first_name">First name</label>
						<input type="text" id="first_name" name='first_name' value="" />
						<br />
						<label for="surname"> Surname</label>
						<input type="text" id="surname" name="surname" value="" />
						<br />
						<label for="gender"> Gender </label>
						<select id="gender" selected="<%= @client.person.gender %>">
								<option></option>
								<option value="Female">Female</option>
								<option value="Male">Male</option>
							</select>
						<br />
						<label for="date_of_birth"> Date of birth </label>
						<input type="text" id="date_of_birth" name="date_of_birth" value="<%= @client.person.birthdate %>" disabled="true" />
						<br />
						<label for="residence">Residence</label>
						<input type="text" id="residence" name="residence" value="<%= @residence %>" />
						<br />
			
			</fieldset>
			<%= submit_tag "Finish" %>
		<%end%>
</body>
</html>
