<html>
    <head>
	<script>
                  <% if @client.partner_present == true %>
                    var cancelDestination = "/client_current_visit?client_id=<%= params[:client_id] %>"
                  <% else %>
                var cancelDestination = "clients/<%= params[:client_id] %>";
                <% end %>
                 monthNumber = {}
                  list = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
                  for (i = 1; i <= list.length; i ++){
                     monthNumber[i] = list[ (i - 1)]
                  }
                  month = "?"
                  month = monthNumber[parseInt("<%= @client.person.birthdate.strftime('%m').to_i %>")]
                  day = parseInt("<%= @client.person.birthdate.strftime('%d') %>")
                  year = parseInt("<%= @client.person.birthdate.strftime('%Y') %>")                
              function __$(id){
                      return document.getElementById(id);
              }
              
             function checkDate(){

                          date = document.getElementById("date_of_birth")
                          function noMondays(e){
                              var day = new Date( e.target.value ).getUTCDay();
                              // Days in JS range from 0-6 where 0 is Sunday and 6 is Saturday

                          }
                          date.addEventListener('input',noMondays);
                }

			function loadCustom(){
				if(__$("main-content-area")){
                                      __$('stage').style.display = "none"
                                       __$("buttons").style.verticalAlign = "bottom";
                                        btnNext.id = "newBtn";
                                        btnNext.style.width = "250px";
                                        btnCancel.style.width = "250px";
                                        btnClear.style.display = "none"
                                        btnBack.style.display = "none"

                                        var display = "inline-table";

                                        btnDivs = __$('buttons').children[0].children;

                                        btnDivs[1].style.display = "none";
                                        btnDivs[2].style.display = "none";

                                        btnDivs[0].style.display  = "inline-table";
                                        btnDivs[3].style.display  = "inline-table";

                                        btnDivs[3].style.cssFloat = "right";
                                        __$('buttons').parentNode.parentNode.parentNode.style.wtidth = '52px'
                                        __$('buttons').parentNode.parentNode.style.wtidth = '52%'
                                        var table = document.createElement("div");
					table.style.display = "table";
					table.style.margin = "auto";
                                        table.style.width = "100%";
					//table.style.border = "1px solid #000";

					__$("main-content-area").appendChild(table);

					var row1 = document.createElement("div");
					row1.style.display = "table-row";
                                        row1.id = "demographics"
					table.appendChild(row1);

                                        var cell1 = document.createElement("div");
					cell1.style.display = "table-cell";
                                        cell1.id = "texts"
                                        cell1.innerHTML = "Firstname"
                                        row1.appendChild(cell1)

                                        var cell2 = document.createElement("div");
					cell2.style.display = "table-cell";
                                        cell2.id = "values"
                                        cell2.innerHTML = '<%= @client.person.names.first.given_name.humanize rescue "" %>';
                                        row1.appendChild(cell2)

                                         var cell3 = document.createElement("div");
					cell3.style.display = "table-cell";
                                        cell3.id = "links"
                                        cell3.innerHTML = "<a href='/clients/demographics_edit/" + <%= @id %>+ "?ref=" + 'firstname' + "'  class='navigation'>Edit</a>";
                                        row1.appendChild(cell3)

                                        var row1 = document.createElement("div");
					row1.style.display = "table-row";
                                        row1.id = "demographics"
					table.appendChild(row1);

                                        var cell1 = document.createElement("div");
					cell1.style.display = "table-cell";
                                        cell1.id = "texts"
                                        cell1.innerHTML = "Surname"
                                        row1.appendChild(cell1)

                                        var cell2 = document.createElement("div");
					cell2.style.display = "table-cell";
                                        cell2.id = "values"
                                        cell2.innerHTML = '<%= @client.person.names.first.family_name.humanize rescue "" %>';
                                        row1.appendChild(cell2)

                                         var cell3 = document.createElement("div");
					cell3.style.display = "table-cell";
                                        cell3.id = "links"
                                        cell3.innerHTML = "<a href='/clients/demographics_edit/" + <%= @id %>+ "?ref=" + 'surname' + "' class='navigation'>Edit</a>";
                                        row1.appendChild(cell3)

                                        var row1 = document.createElement("div");
					row1.style.display = "table-row";
                                        row1.id = "demographics"
					table.appendChild(row1);

                                        var cell1 = document.createElement("div");
					cell1.style.display = "table-cell";
                                        cell1.id = "texts"
                                        cell1.innerHTML = "Gender"
                                        row1.appendChild(cell1)

                                        var cell2 = document.createElement("div");
					cell2.style.display = "table-cell";
                                        cell2.id = "values"
                                        cell2.innerHTML = '<%= @client.person.gender rescue "" %>';
                                        row1.appendChild(cell2)

                                         var cell3 = document.createElement("div");
					cell3.style.display = "table-cell";
                                        cell3.id = "links"
                                        cell3.innerHTML = "<a href='/clients/demographics_edit/" + <%= @id %>+ "?ref=" + 'gender' + "' class='navigation'>Edit</a>";
                                        row1.appendChild(cell3)

                                         var row1 = document.createElement("div");
					row1.style.display = "table-row";
                                        row1.id = "demographics"
					table.appendChild(row1);

                                        var cell1 = document.createElement("div");
					cell1.style.display = "table-cell";
                                        cell1.id = "texts"
                                        cell1.innerHTML = "Date of birth"
                                        row1.appendChild(cell1)

                                        var cell2 = document.createElement("div");
					cell2.style.display = "table-cell";
                                        cell2.id = "values"
                                        cell2.innerHTML = day + '/' + month + '/' + year ;
                                        row1.appendChild(cell2)

                                         var cell3 = document.createElement("div");
					cell3.style.display = "table-cell";
                                        cell3.id = "links"
                                        cell3.innerHTML = "<a href='/clients/demographics_edit/" + <%= @id %>+ "?ref=" + 'date_of_birth' + "'  class='navigation'>Edit</a>";
                                        row1.appendChild(cell3)

                                         var row1 = document.createElement("div");
					row1.style.display = "table-row";
                                        row1.id = "demographics"
					table.appendChild(row1);

                                        var cell1 = document.createElement("div");
					cell1.style.display = "table-cell";
                                        cell1.id = "texts"
                                        cell1.innerHTML = "Home District"
                                        row1.appendChild(cell1)

                                        var cell2 = document.createElement("div");
					cell2.style.display = "table-cell";
                                        cell2.id = "values"
                                        cell2.innerHTML = '<%= @home_district rescue "" %>' ;
                                        row1.appendChild(cell2)

                                         var cell3 = document.createElement("div");
					cell3.style.display = "table-cell";
                                        cell3.id = "links"
                                        cell3.innerHTML = "<a href='/clients/demographics_edit/" + <%= @id %>+ "?ref=" + 'home_district' + "'  class='navigation'>Edit</a>";
                                        row1.appendChild(cell3)

                                         var row1 = document.createElement("div");
					row1.style.display = "table-row";
                                        row1.id = "demographics"
					table.appendChild(row1);

                                        var cell1 = document.createElement("div");
					cell1.style.display = "table-cell";
                                        cell1.id = "texts"
                                        cell1.innerHTML = "Traditional Authority"
                                        row1.appendChild(cell1)

                                        var cell2 = document.createElement("div");
					cell2.style.display = "table-cell";
                                        cell2.id = "values"
                                        cell2.innerHTML = '<%= @ta rescue "" %>' ;
                                        row1.appendChild(cell2)

                                         var cell3 = document.createElement("div");
					cell3.style.display = "table-cell";
                                        cell3.id = "links"
                                        cell3.innerHTML = "<a href='/clients/demographics_edit/" + <%= @id %>+ "?ref=" + 'traditional_authority' + "'  class='navigation'>Edit</a>";
                                        row1.appendChild(cell3)

                                         var row1 = document.createElement("div");
					row1.style.display = "table-row";
                                        row1.id = "demographics"
					table.appendChild(row1);

                                        var cell1 = document.createElement("div");
					cell1.style.display = "table-cell";
                                        cell1.id = "texts"
                                        cell1.innerHTML = "Occupation"
                                        row1.appendChild(cell1)

                                        var cell2 = document.createElement("div");
					cell2.style.display = "table-cell";
                                        cell2.id = "values"
                                        cell2.innerHTML = '<%= @occupation rescue "" %>' ;
                                        row1.appendChild(cell2)

                                         var cell3 = document.createElement("div");
					cell3.style.display = "table-cell";
                                        cell3.id = "links"
                                        cell3.innerHTML = "<a href='/clients/demographics_edit/" + <%= @id %>+ "?ref=" + 'occupation' + "'  class='navigation'>Edit</a>";
                                        row1.appendChild(cell3)

                                         var row1 = document.createElement("div");
					row1.style.display = "table-row";
                                        row1.id = "demographics"
					table.appendChild(row1);

                                        var cell1 = document.createElement("div");
					cell1.style.display = "table-cell";
                                        cell1.id = "texts"
                                        cell1.innerHTML = "Current Residence"
                                        row1.appendChild(cell1)

                                        var cell2 = document.createElement("div");
					cell2.style.display = "table-cell";
                                        cell2.id = "values"
                                        cell2.innerHTML = '<%= @residence %>' ;
                                        row1.appendChild(cell2)

                                         var cell3 = document.createElement("div");
					cell3.style.display = "table-cell";
                                        cell3.id = "links"
                                        cell3.innerHTML = "<a href='/clients/demographics_edit/" + <%= @id %>+ "?ref=" + 'residence' + "'  class='navigation'>Edit</a>";
                                        row1.appendChild(cell3)

                                         var row1 = document.createElement("div");
					row1.style.display = "table-row";
                                        row1.id = "demographics"
					table.appendChild(row1);

                                        var cell1 = document.createElement("div");
					cell1.style.display = "table-cell";
                                        cell1.id = "texts"
                                        cell1.innerHTML = "Cell Phone Number"
                                        row1.appendChild(cell1)

                                        var cell2 = document.createElement("div");
					cell2.style.display = "table-cell";
                                        cell2.id = "values"
                                        cell2.innerHTML = '<%= @cell_phone_number rescue "" %>' ;
                                        row1.appendChild(cell2)

                                         var cell3 = document.createElement("div");
					cell3.style.display = "table-cell";
                                        cell3.id = "links"
                                        cell3.innerHTML = "<a href='/clients/demographics_edit/" + <%= @id %>+ "?ref=" + 'cell_phone_number' + "'  class='navigation'>Edit</a>";
                                        row1.appendChild(cell3)
/*
                                         var row1 = document.createElement("div");
					row1.style.display = "table-row";
                                        row1.id = "demographics"
					table.appendChild(row1);
                                       
                                        var cell1 = document.createElement("div");
					cell1.style.display = "table-cell";
                                        cell1.id = "texts"
                                        cell1.innerHTML = "Office Phone Number"
                                        row1.appendChild(cell1)

                                        var cell2 = document.createElement("div");
					cell2.style.display = "table-cell";
                                        cell2.id = "values"
                                        cell2.innerHTML = '<%= @office_phone_number rescue "" %>' ;
                                        row1.appendChild(cell2)

                                         var cell3 = document.createElement("div");
					cell3.style.display = "table-cell";
                                        cell3.id = "links"
                                        cell3.innerHTML = "<a href='/clients/demographics_edit/" + <%= params[:client_id] %>+ "?ref=" + 'office_phone_number' + "'  class='navigation'>Edit</a>";
                                        row1.appendChild(cell3)

                                         var row1 = document.createElement("div");
					row1.style.display = "table-row";
                                        row1.id = "demographics"
					table.appendChild(row1);

                                        var cell1 = document.createElement("div");
					cell1.style.display = "table-cell";
                                        cell1.id = "texts"
                                        cell1.innerHTML = "Home Phone Number"
                                        row1.appendChild(cell1)

                                        var cell2 = document.createElement("div");
					cell2.style.display = "table-cell";
                                        cell2.id = "values"
                                        cell2.innerHTML = '<%= @home_phone_number rescue "" %>' ;
                                        row1.appendChild(cell2)

                                         var cell3 = document.createElement("div");
					cell3.style.display = "table-cell";
                                        cell3.id = "links"
                                        cell3.innerHTML = "<a href='/clients/demographics_edit/" + <%= params[:client_id] %>+ "?ref=" + 'home_phone_number' + "' class='navigation'>Edit</a>";
                                        row1.appendChild(cell3) */
                                }
                        }
	</script>
      <style>
 .disabled {
   pointer-events: none;
   cursor: default;
}
table{
  width: 100%;
}
#text, #values, #links{
  border-radius: 25px;
}
#demographics{
 width: 100%;
 border: 1px solid #000;
 background-color: #E0EEEE;
}
#texts{
  width: 40%;
  font-size: 25px;
}
#values{
  width: 40%;
  font-size: 25px;
}
#links{
 width: 20%;
  font-size: 25px;
}
.navigation{
    background-color: grey;
    border-bottom: 1px outset #eeeeee;
    border-style: outset;
    border-top: 1px outset #eeeeee;
    color: white;
    display: block;
    padding: 10px 16px 10px 10px;
    text-align: center;
    text-decoration: none;
}
#buttons{
  height: 20px ! important;
}
#main-content-area{
   height: 576px ! important;
}
      </style>
     </head>
<body onload="adjust()" >
                 <% if @client.partner_present != true %>

                  <%= form_tag show_client_path(:id => @client.id) do %>
                    <input type='hidden' name='name_id' value=<%= @client.id %> />
                    <fieldset custom=true fs_onLoad="loadCustom();">
                    <legend>Update Demographics</legend>
                    </fieldset>
                    <%= submit_tag "Finish" %>
                    <%end%>

                  <% else %>
                        <form action="/client_current_visit?client_id=<%=  params[:client_id] %>" method="get">
                          <input type='hidden' name='client_id' value=<%= params[:client_id] %> />
               
			<input type='hidden' name='name_id' value=<%= params[:client_id] %> />
			<fieldset  custom=true fs_onLoad="loadCustom();">
			<legend>Update Demographics</legend>
			
			</fieldset>
			<input type="submit" value="Finish">
		</form>
                  <% end %>

</body>
</html>
<script>
   function adjust(){
          node =  document.getElementById('row2').childNodes[0].childNodes[0]
           node.style.height = "92px"
           document.getElementById('row2').childNodes[0].style.height = "92px"
           document.getElementById('row2').style.height = "92px"
  }
</script>
