<html>
    <head>
	<script>
                var cancelDestination = "clients/<%= params[:id] %>";
                 monthNumber = {}
                  list = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
                  for (i = 1; i <= list.length; i ++){
                     monthNumber[i] = list[ (i - 1)]
                  }
                  month = "?"
                  month = monthNumber[parseInt("<%= @client.person.birthdate.strftime('%m').to_i %>")]
                  day = parseInt("<%= @client.person.birthdate.strftime('%d') %>")
                  year = parseInt("<%= @client.person.birthdate.strftime('%Y') %>")
                  
              function __$(id){
                      return document.getElementById(id);
              }

              function addSelected(id){
                    if (id == 'gender'){
                       value = '<%= @client.person.gender %>';
                    }
                    else if (id == 'surname'){
                       value = '<%= @client.person.names.first.family_name rescue "" %>';
                    }
                    else if (id == 'firstname'){
                       value = '<%= @client.person.names.first.given_name rescue "" %>'
                    }
                    else if (id == 'date_of_birth'){
                       value = day + '/' + month + '/' + year ;
                    }
                      __$("textFor" + id).value = value;
                      __$(id).value = value;

                      if (id == 'date_of_birth')
                       __$(id).value =  '<%= @client.person.birthdate.strftime('%d/%m/%Y') %>';
              }
              
             function checkDate(){

                          date = document.getElementById("date_of_birth")
                          function noMondays(e){
                              var day = new Date( e.target.value ).getUTCDay();
                              // Days in JS range from 0-6 where 0 is Sunday and 6 is Saturday

                          }
                          date.addEventListener('input',noMondays);
                }
	</script>
     </head>
<body  onLoad="addSelected('<%= params[:ref] %>')">
                <form action='/clients/modify_field/<%= params[:id] %>' method='post'>
                  <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
			<input type='hidden' name='name_id' value=<%= @client.id %> />
			<fieldset >
			<legend>Update <%= params[:ref].humanize %></legend>
			<% if params[:ref] == "surname"  %>
                              <label for="surname"> Surname</label>
                              <input type="text" id="surname" name="family_name" value=""
                                              ajaxURL="/clients/last_name/<%= params[:id] %>"/>
                              <br />
                         <% elsif params[:ref] == "firstname"  %>
                              <label for="firstname"> First name</label>
                              <input type="text" id="firstname" name="family_name" value=""
                                              ajaxURL="/clients/first_name/<%= params[:id] %>"/>
                              <br />
                         <% elsif params[:ref] == "gender" %>
                                <label for="gender"> Gender </label>
                                <select id="gender" name="gender">
                                                <option></option>
                                                <option value="Female">Female</option>
                                                <option value="Male">Male</option>
                                        </select>
                                  <br />
                           <% elsif params[:ref] == "date_of_birth" %>
                                    <label for="date_of_birth"> Date of birth </label>
                                    <input type="text"  onclick="checkDate()" id="date_of_birth"
                                                  max="<%= Date.today %>" name="birthdate"
                                                   fieldtype="age" />
                                          <br />
                             <% elsif params[:ref] == "residence" %>
                                    <label for="residence">Residence</label>
                                    <input type="text" id="residence" name="address1" value="<%= @residence %>"
                                            ajaxURL="/locations/village"/>
                                    <br />
                              <% elsif params[:ref] == "home_district" %>
                                    <label for="<%= params[:ref] %>">Home District</label>
                                    <input type="text" id="<%= params[:ref] %>" name="address2" value=""
                                        ajaxURL="/locations/village"/>
                                <br />
                                <% elsif params[:ref] == "traditional_authority" %>
                                    <label for="<%= params[:ref] %>">Traditional Authority</label>
                                    <input type="text" id="<%= params[:ref] %>" name="<%= params[:ref] %>" value=""
                                        ajaxURL="/locations/ta"/>
                                <br />
                             <% elsif params[:ref] == "occupation" %>
                                    <label for="<%= params[:ref] %>">Occupation</label>
                                       <select id="<%= params[:ref] %>">
                                                <option></option>
                                                <% @occupation.each{|occupation| %>
                                                <option value="<%= occupation %>"><%= occupation %></option>
                                                <% } %>
                                        </select>
                                  <br />
                               <% elsif params[:ref] == "land_mark" %>
                                    <label for="<%= params[:ref] %>">Land Mark</label>
                                       <select id="<%= params[:ref] %>">
                                                <option></option>
                                                <% @land_mark.each{|land_mark| %>
                                                <option value="<%= land_mark %>"><%= land_mark %></option>
                                                <% } %>
                                        </select>
                                  <br />
                               <% elsif (params[:ref] == "home_phone_number" || params[:ref] == "cell_phone_number" || params[:ref] == "office_phone_number" ) %>
                                    <label for="<%= params[:ref] %>"><%= params[:ref].humanize %></label>
                                              <input type="text" id="<%= params[:ref] %>" name='<%= params[:ref] %>' value="" fieldtype="number"/>
                                    <br />
                                <% end %>
			</fieldset>
			<%= submit_tag "Finish" %>
                </form>
</body>
</html>
