<html>
    <head>
	<script>
                var cancelDestination = "clients/<%= params[:client_id] %>";
                 monthNumber = {}
                  list = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
                  for (i = 1; i <= list.length; i ++){
                     monthNumber[i] = list[ (i - 1)]
                  }
                  month = "?"
                  month = monthNumber[parseInt("<%= @client.person.birthdate.strftime('%m').to_i %>")]
                  day = parseInt("<%= @client.person.birthdate.strftime('%d') %>")
                  year = parseInt("<%= @client.person.birthdate.strftime('%Y') %>")
              function __$(id){
                      return document.getElementById(id);
              }

              function addSelected(id1, id2, id3, id4){
                      __$("textFor" + id1).value = '<%= @client.person.gender %>';
                      __$(id1).value = '<%= @client.person.gender %>';

                        __$("textFor" + id2).value = '<%= @client.person.names.first.given_name rescue "" %>';
                        __$("textFor" + id3).value = '<%= @client.person.names.first.family_name rescue "" %>';
                        __$("textFor" + id4).value = day + '/' + month + '/' + year ;

                        __$(id4).value = '<%= @client.person.birthdate.strftime('%d/%m/%Y') %>';
                        __$(id2).value = '<%= @client.person.names.first.given_name rescue "" %>';
                        __$(id3).value = '<%= @client.person.names.first.family_name rescue "" %>';
              }
             function checkDate(){

                          date = document.getElementById("date_of_birth")
                          function noMondays(e){
                              var day = new Date( e.target.value ).getUTCDay();
                              // Days in JS range from 0-6 where 0 is Sunday and 6 is Saturday

                          }
                          date.addEventListener('input',noMondays);
                }
	</script>
     </head>
<body >
		<%= form_tag({:action => "new"}, {:method => "get"}) do %>
			<input type='hidden' name='name_id' value=<%= @client.id %> />
			<fieldset >
			<legend>Update <%= params[:ref].humanize %></legend>
			<% if params[:ref] == "surname"  %>
                              <label for="surname"> Surname</label>
                              <input type="text" id="surname" name="surname" value=""
                                              ajaxURL="/clients/last_name/<%= params[:client_id] %>"/>
                              <br />
                         <% elsif params[:ref] == "gender" %>
                                <label for="gender"> Gender </label>
                                <select id="gender">
                                                <option></option>
                                                <option value="Female">Female</option>
                                                <option value="Male">Male</option>
                                        </select>
                                  <br />
                           <% elsif params[:ref] == "date_of_birth" %>
                                    <label for="date_of_birth"> Date of birth </label>
                                    <input type="text"  onclick="checkDate()" id="date_of_birth"
                                                  max="<%= Date.today %>" name="date_of_birth"
                                                   fieldtype="age" />
                                          <br />
                             <% elsif params[:ref] == "residence" %>
                                    <label for="residence">Residence</label>
                                    <input type="text" id="residence" name="residence" value="<%= @residence %>"
                                            ajaxURL="/locations/village"/>
                                    <br />
                              <% elsif params[:ref] == "home_district" %>
                                    <label for="<%= params[:ref] %>">Home District</label>
                                    <input type="text" id="<%= params[:ref] %>" name="<%= params[:ref] %>" value=""
                                        ajaxURL="/locations/village"/>
                                <br />
                               <% elsif params[:ref] == "home_phone_number" %>
                                    <label for="<%= params[:ref] %>"><%= params[:ref].humanize %></label>
                                              <input type="text" id="<%= params[:ref] %>" name='<%= params[:ref] %>' value="" fieldtype="number"/>
                                    <br />
                                <% end %>
			</fieldset>
			<%= submit_tag "Finish" %>
		<%end%>
</body>
</html>
