<html>
  <head>
    <style>
      #popup {
        -moz-user-select: none;
        background-color: #FEEFB3;
        border: 4px solid #C6C6C6;
        border-radius: 15px 15px 15px 15px;
        color: #9F6000;
        font-size: 28px;
        height: 165px;
        left: 40%;
        padding: 5px;
        position: absolute;
        text-align: center;
        top: 2%;
        width: 319px;
        z-index: 991;
      }
    </style>
    <script>
      var cancelDestination = "/clients/<%= @client.id %>";
      var careGiveDestination = "/find_register_caregiver/<%= @client.id %>";
      
      function __$(id){
        return document.getElementById(id);
      }

      function doLogin(id){

        if(__$(id) && __$(id).value.trim().match(/\$/)){

          __$(id).value =  __$(id).value.trim().replace(/\$/, "");

          clearTimeout(id)
          document.forms[0].submit();

          return;
        }

        setTimeout("doLogin('" + id + "')", 500);
      }

    </script>
    <style>
      #stage, #btn3, #btn2, #btn1{
        display: none ! important;
      }
      #buttons{
        width:10% ! important;
      }
      #popupkeyboard{
        height: 255px ! important;
      }

      #findButton{
        width: 100%;
        margin-right: -100% !important;

      }
      #findButton button{
        left: 40%;

      }

    </style>
  </head>

  <body onload="adjust()">
    <form action="#" method="POST">
      <fieldset>
        <legend>Search Care-giver</legend>
        <br />
        <label for="scan_accession_number" >Accession Number </label>
        <input type="text" id="scan_accession_number" name="accession_number" optional="false" fieldtype="barcode" callback="doLogin('scan_accession_number')" />
      </fieldset>
      <%= submit_tag "Finish" %>
    </form>
  </body>
  <script src="/assets/touchscreentoolkitV2/ts.js?body=1"></script>
  <script type="text/javascript">
    function findRegisterCareGiver(){
      window.location = '/find_register_caregiver?client_id<%= @client.id %>'
    }

    function adjust(){
      node =  document.getElementById('row2').childNodes[0].childNodes[0];
      node.style.width = "6%";
      node.style.height = "92px";
      document.getElementById('row2').childNodes[0].style.height = "92px";
      document.getElementById('row2').style.height = "92px";
      document.getElementById('row2').childNodes[0].style.backgroundColor = "grey";
      document.getElementById('row2').childNodes[0].style.MozBorderRadius = '1em';
      document.getElementById('row2').childNodes[0].style.borderRadius = '1em';
      button =  document.getElementById('buttons');
      button.style.removeProperty('border')
      button.style.backgroundColor = "grey";
      findButton = '<div id="findButton" style="display: table-cell; width: 100%; vertical-align: bottom;"><button id="findRegisterButton" style="margin: 3px; width: 314px !Important; font-size: 24px; float: right;" class="button green">Find/Register Caregiver</button></div>';
      cancelB = document.getElementById('btn0');
      cancelB.parentNode.innerHTML += findButton;
      //button.innerHTML += findButton;
      btnNext.parentNode.parentNode.parentNode.parentNode.style.width = '100%';
      document.getElementById('row').parentNode.style.width = '100%';
    }

    function setAttributes(){
      document.getElementById('btn0').onclick = function(){
        window.location = cancelDestination;
      }

      document.getElementById("findRegisterButton").onclick = function(){
        window.location = careGiveDestination;
      }
    }

    window.setTimeout("setAttributes();", 350);
    
    function customAlert(msg) {
      if (__$('popup'))
        __$('popup').parentNode.removeChild(__$('popup'));

      var ele = document.createElement('div');
      ele.id = "popup";
      ele.style.display = "inline";
      html = "<div style='display:table;width:100%;'><div style='display:table-row;width:100%;'>"
      html += "<div id='text'>" + msg + "</div></div><div style='display:table-row;width:100%;'>"
      html += '<div id="confirm"><button class="button blue" style="margin: 3px; font-size: 20px; height: 55px;" onmousedown="resetPopup()">Ok</button></div>'
      html += "</div></div></div></div>";
      ele.innerHTML = html;
      document.body.appendChild(ele);
    }

    function resetPopup() {
      var ele = document.getElementById('popup');
      ele.style.display = "none";
      ele.parentNode.removeChild(ele);
    }

    function __$(id){
      return document.getElementById(id);
    }

<% if !flash[:error].blank? %>
    customAlert("<%= flash[:error]%>");
<% elsif !flash[:notice].blank?   %>
    customAlert("<%= flash[:notice]%>");
<% end %>

  </script>

</html>
