<html>
  <head>
    <style>
      #cover {
        display: none;
      }
    </style>
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
    <script>

      <% if @client.partner_present == true %>
        var cancelDestination = "/client_current_visit?client_id=<%= params[:id] %>"
      <% else %>
         var cancelDestination = "/clients/<%= params[:id] %>?tab=task";
      <% end %>

      var rapidValue = "";
      var goldValue = "";
      var motherStatus = "";
      var testing = parseInt('<%= @testing %>')
      var kits = JSON.parse('<%= @kits.to_json.html_safe %>');
      var result1 = "";
      var result2 = "";
       
       function activateNext(){
        if (btnNext){
                              if(__$("valid_rapid").value == "no" || __$("valid_gold").value == "no"){
                                         btnNext.onclick = function(){
                                          confirm("Enter correct lot numbers");
                                      };
                              }
                              else {
                                         btnNext.onclick = function(){

                                        var pos = parseInt(this.getAttribute("pos")) + 1;

                                        var section = parseInt(this.getAttribute("section"));

                                        clearTimeout()

                                        navigateTo(pos, section);

                                      };
                              }
                         }
      }

      function checkLot() {	
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                        xmlhttp=new XMLHttpRequest();
                }else{// code for IE6, IE5
                        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                }
                xmlhttp.onreadystatechange=function() {
                        if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                          var results = xmlhttp.responseText;														
													if (eval(results) == "none"){
														 __$("valid_rapid").value = "no"
														}
													 else {
														 __$("valid_rapid").value = "yes"
														}
                                                                                                         activateNext()
                          }
                        }

                xmlhttp.open("GET","/inventory/batch_available?lot_number=" + __$("rapid_lot").value + "&name=" + kits[0][1], true);
                xmlhttp.send();

                 setTimeout("checkLot()", 500);
}

	function checkSecondLot() {
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                        xmlhttp=new XMLHttpRequest();
                }else{// code for IE6, IE5
                        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                }
                xmlhttp.onreadystatechange=function() {
                        if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                          var results = xmlhttp.responseText;
													  if (eval(results.toUpperCase()) == 'NONE'){																
															__$("valid_gold").value = "no"	
														}else {
															__$("valid_gold").value = "yes"
														}
                                                                                                         activateNext()
                          }
                        }

                xmlhttp.open("GET","/inventory/batch_available?lot_number=" + __$("gold_lot").value + "&name=" + kits[1][1], true);
                xmlhttp.send();
                 setTimeout("checkSecondLot()", 500);
}

      function doLogin(id){

                            if(__$(id) && __$(id).value.trim().match(/\$/)){

                               __$(id).value =  __$(id).value.trim().replace(/\$/, "");

                                    clearTimeout(id)
                                      document.forms[0].submit();

                                    return;
                            }

                      setTimeout("doLogin('" + id + "')", 500);
            }

      function setValues(){
        if (__$('timetimer1')){
          rapidValue = __$('timetimer1').innerHTML.toString()
        }
        __$('rapidtimer').value = subtractMinutes(rapidValue.split(":"), "10:00".split(":"));
        if(__$('timetimer2')){
          goldValue = __$('timetimer2').innerHTML.toString()
        }
        __$('goldtimer').value =  subtractMinutes(goldValue.split(":"), "15:00".split(":"));
        __$("allresults").value  = "";
        if(__$("HTC Test 1 result").value == "Positive" && __$("HTC Test 2 result").value == "Positive"){
          __$("allresults").value = "Positive"
          clearTimeout("setValues()")
         // confirm("HIV positive")
        }

        else if((__$("HTC Test 1 result").value == "Positive" && __$("HTC Test 2 result").value == "Negative") || (__$("HTC Test 1 result").value == "Negative" && __$("HTC Test 2 result").value == "Positive")){
          __$("allresults").value = "Inconclusive"
          clearTimeout("setValues()")
          //confirm("Inconclusive")
        }
        else {
          __$("allresults").value = "Inconclusive"
        }

        setTimeout("setValues()", 500);
      }

      function confirm(message){
        var ele = document.getElementById('cover')
        ele.style.display = "inline";
        document.body.appendChild(ele);

        var ele = document.getElementById('popup')
        ele.style.display = "inline";
        html = "<div style='display:table;width:100%;'><div style='display:table-row;width:100%;'>"
        html += "<div id='text'>" + message + "</div></div><div style='display:table-row;width:100%;'>"
        html += '<div style="display:table-cell;width:100%;"><div style="display:table;width:100%;"><div style="display:table-row;width:100%;">'
          if (message == "Enter correct lot numbers"){
          html += '<div id="confirm"><button class="button red" style="margin: 3px; font-size: 20px; height: 60px;" onmousedown="reset()">Ok</button></div>';
        }else{
          html += '<div id="confirm"><button class="button blue" style="margin: 3px; font-size: 20px; height: 60px;" onmousedown="allow()">Ok</button></div>';
        }
        html += "</div></div></div></div></div>"
        ele.innerHTML =  html;
        document.body.appendChild(ele);
      }

      function reset(){
            ele = document.getElementById('cover')
            ele.style.display = "none";
            ele = document.getElementById('popup')
            ele.style.display = "none";
        }
              
      function __$(id){
        return document.getElementById(id);
      }

      function loadCustom(){

        if(__$("main-content-area")){

          __$("main-content-area").innerHTML = "";

          var table = document.createElement("div");
          table.style.display = "table";
          table.style.margin = "auto";
          // table.style.border = "1px solid #000";
          __$("main-content-area").appendChild(table);

          var row1 = document.createElement("div");
          row1.style.display = "table-row";
          table.appendChild(row1);

          var cell1_1 = document.createElement("div");
          cell1_1.style.display = "table-cell";
          cell1_1.id = "timer1";
          row1.appendChild(cell1_1);

          var timer1 = addTimer(cell1_1, 10, kits[0][1] + " Test Timer", 0.55)
          timer1.style.marginLeft = "40px";
          timer1.style.marginRight = "40px";

          var cell1_2 = document.createElement("div");
          cell1_2.style.display = "table-cell";
          cell1_2.id = "timer2";
          cell1_2.style.textAlign = "right";
          row1.appendChild(cell1_2);

          var timer2 = addTimer(cell1_2, 15, kits[1][1] + " Test Timer", 0.55);
          timer2.style.marginLeft = "40px";
          timer2.style.marginRight = "40px";
        }
      }
  function checkKits(){
     __$("gold_lot").value = "";
     __$("rapid_lot").value = "";
     __$("customresult1").value = "";
     __$("customresult2").value = "";
     reset();
      if (testing == 0){
                loadMessage('You do not have one of the test kits ','clients/<%= params[:id] %> ', 1500);
      }
  }

    </script>
  </head>
  <body  onLoad="checkKits();setValues();checkLot();checkSecondLot();">

	<form action='/encounters/new/<%= params[:id] %>' method='post'>

      <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
      <input type="hidden" value="HIV TESTING" name="ENCOUNTER"/>

      <input type="hidden" value="" id="valid_rapid" name="test1 done"/>
      <input type="hidden" value="" id="valid_gold" name="test2 done"/>
      <input type="hidden" name="observations[][value_coded_or_text]" id="allresults" fieldtype="number" />
      <input type="hidden" name="observations[][concept_name]" value="Result of hiv test" />
      <input type="hidden" name="observations[][patient_id]" value="<%= params[:id] %>" />
      <input type="hidden" name="observations[][obs_datetime]"  value="" />

       <input type="hidden" name="observations[][value_coded_or_text]" id="goldname" fieldtype="number" value="<%= @kits[1][1] rescue ""  %>" />
      <input type="hidden" name="observations[][concept_name]" value="HTC Test 2 name" />
      <input type="hidden" name="observations[][patient_id]" value="<%= params[:id] %>" />
      <input type="hidden" name="observations[][obs_datetime]"  value="" />

      <input type="hidden" name="observations[][value_coded_or_text]" id="rapidname" fieldtype="number" value="<%= @kits[0][1] rescue "" %>" />
      <input type="hidden" name="observations[][concept_name]" value="HTC Test 1 name" />
      <input type="hidden" name="observations[][patient_id]" value="<%= params[:id] %>" />
      <input type="hidden" name="observations[][obs_datetime]"  value="" />

        <fieldset>
        <legend>HIV Testing (Extended)</legend>
              <label for="rapid_lot"><%= @kits[0][1] rescue ""  %> Lot Number</label>
              <input type='text' id="rapid_lot" name="observations[][value_text]"
              onload="checkLot()" fieldtype="number" />
              <%= hidden_field_tag("observations[][concept_name]",        "rapit lot number") %>
              <%= hidden_field_tag("observations[][patient_id]",         params[:client_id]) %>
              <%= hidden_field_tag("observations[][obs_datetime]",       "") %>

							<label for="gold_lot"><%= @kits[1][1] rescue ""  %> Lot Number</label>
              <input type='text' id="gold_lot" name="observations[][value_text]"
              onload="checkSecondLot()" fieldtype="number" />
              <%= hidden_field_tag("observations[][concept_name]",        "gold lot number") %>
              <%= hidden_field_tag("observations[][patient_id]",         params[:client_id]) %>
              <%= hidden_field_tag("observations[][obs_datetime]",       "") %>
      </fieldset>

      <fieldset custom=true fs_onLoad="loadCustom();">
        <legend>HIV Testing (Extended)</legend>

        <input type="hidden" name="observations[][value_coded_or_text]" id="rapidtimer" fieldtype="number" />
        <input type="hidden" name="observations[][concept_name]" value="HTC Test 1 Time frame" id="hidden"/>
        <input type="hidden" name="observations[][patient_id]" value="<%= params[:id] %>" />
        <input type="hidden" name="observations[][obs_datetime]" />


        <input type="hidden" name="observations[][value_coded_or_text]" id="goldtimer" fieldtype="number" />
        <input type="hidden" name="observations[][concept_name]" value="HTC Test 2 Time frame" />
        <input type="hidden" name="observations[][patient_id]" value="<%= params[:id] %>" />
        <input type="hidden" name="observations[][obs_datetime]" value="" />


      </fieldset>

      <fieldset>
        <legend>HIV Testing (Extended)</legend>
        <% tests = ["HTC Test 1 result", "HTC Test 2 result"]
        results = [["Unknown","Uknown"],["Positive","Reactive"],["Negative","Non-Reactive"]]
        tests.each { |test| %>
          <label for="<%= test %>"><%= test %></label>

          <select id="<%= test %>" name="observations[][value_coded_or_text]">
            <option></option>
            <% results.each {|result| %>
              <option value="<%= result[0] %>"><%= result[1] %></option>
            <% } %>
          </select>
          <%= hidden_field_tag("observations[][concept_name]",        test) %>
          <%= hidden_field_tag("observations[][patient_id]",         params[:id]) %>
          <%= hidden_field_tag("observations[][obs_datetime]",       "") %>
        <% } %>

        <label for="scan_accession_number" >Acknowledging Counselor Accession Number </label>
        <input type="text" id="scan_accession_number" name="observations[][value_coded_or_text]" optional="false" fieldtype="barcode" callback="doLogin('scan_accession_number')" />
        <%= hidden_field_tag("observations[][concept_name]",        'Provider') %>
        <%= hidden_field_tag("observations[][patient_id]",         params[:id]) %>
        <%= hidden_field_tag("observations[][obs_datetime]",       "") %>

      </fieldset>
      <input type="submit" value="Submit" />

        </form>
  </body>
</html>
  <div id="cover" align="center">
  </div>
  <div id="popup" style="display:none">
  </div>