<!DOCTYPE=html>
<html>
	<head>
		<title>Current Visit</title>
                <script>
                  
                </script>
		<style>
			
                    
		</style>
	</head>
	<body style="margin: 10px; overflow: auto; font-family: Helvetica;">
		<div style="display: table; width: 100%; border: 1px solid #eee; height: 99%;">
			<div style="display: table-row;width: 100%;">
			
							<div style="display: table-cell;width: 100%;">
								<label style="color: #5679c1; font-weight: bold; font-size: 16px;">Client's States History</label>

								<div style="display: table; border: 1px solid #5679c1; font-size: 12px;width: 100%;">
                                                                      <% (@previous_visits || [] ).each{|encounter| %>
									<div style="display: table-row;width: 100%;">
										<div style="width: 15%;font-size:18px;display: table-cell; border-bottom: 1px dotted #5679c1; padding: 5px; border-right: 1px solid #5679c1;">
											<%= encounter.encounter_datetime.strftime("%d/%m/%Y %I : %M")  %>
										</div>
										<div style="width: 85%;font-size:18px;display: table-cell; border-bottom: 1px dotted #5679c1; padding: 5px; width: 90%;" onmousedown="checkObs('<%= encounter.id   %>')">
                      <b><%= encounter.name   %>:</b> <br />
											<%= encounter.to_s.html_safe   %>
											<% answers = CounselingAnswer.where("encounter_id = ?", encounter.encounter_id)
													 (answers || []).each { |answer| %>
														<%= answer.to_s.html_safe %>
											<% } %>
										</div>
									</div>
									<% } %>
								</div>
							</div>
				</div>
                    </div>
	</body>
</html>
