<html>
	<head>
<style>
.blue {
    border-radius: 35px;
    display: block;
    float: left;
    height: 90px;
    margin-right: 35px;
    vertical-align: baseline;
    width: 90px;
    background-repeat: no-repeat;
    background-size: 80px 80px;
}
#accession{
 	background-image: url(<%= asset_path 'accession.png' %>);
	background-size: cover;
}
#summary{
 	background-image: url(<%= asset_path 'summary.png' %>);
	background-size: cover;
}
#confirm{
 	background-image: url(<%= asset_path 'confirmation.png' %>);
	background-size: cover;
}
.txt {
  color: #000000;
  display: block;
  font-size: 19px;
  position: relative;
  text-align: center;
  top: 100px;
}
</style>
<script>
   function printAccession(){
        window.location = '/clients/print_accession/' + <%=  params[:client_id] %>;
   }

   function printSummary(){
        window.location = '/clients/print_summary/' + <%= params[:client_id] %>;
   }

  function printConfirmation(){
        window.location = '/clients/print_confirmation/' + <%= params[:client_id] %>;
   }
</script>
</head>
<body>
<br />
<br />

<base target="_parent">
		<button
		onmousedown="printAccession()"
		class="blue" pos="0" section="0" id="accession"><span class="txt">Accession Number</span></button>

		<button 
		onmousedown="printSummary()"
		class="blue" pos="0" section="0" id="summary"><span class="txt">Visit Summary</span></button>

		<button id="confirm" onmousedown="printConfirmation()" class="blue" pos="0" section="0">
                  <span class="txt">Confirmation</span></button>
</body>

