<html>
<head>
		<script>
			var cancelDestination = "/clients/<%= params[:id] %>";
		</script>
</head>
<body>
	
		<%= form_tag(controller: "encounters", action: "new", method: "post") do %>
		<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
		<input type="hidden" value="Referral Consent Confirmation" name="ENCOUNTER"/>
				<fieldset>
				<legend>Referral Consent Confirmation</legend>
				<label for="refer">Would you want to go to an ART Clinic? </label>
				<label for="1.1">Yes</label>	
				<input type="radio" name="refer" id="1.1" value="YES">
				<label for="1.2">No</label>
				<input type="radio" name="refer" id="1.2" value="NO">

				<%= hidden_field_tag("observations[][concept_name]",        "Refer to hospital or specialist clinic") %>
				<%= hidden_field_tag("observations[][patient_id]",         params[:id]) %>
				<%= hidden_field_tag("observations[][obs_datetime]",       "") %>
				<%= hidden_field_tag("observations[][value_datetime]",       "") %>
					<br />
				<label for="clinic">Choose convenient ART clinic location</label>

				<select id="clinic" name="observations[][value_coded_or_text]" condition="__$('1.1').checked">
						<option></option>
						<% @location.each{|location| %>	
						<option value="<%= location.name %>"><%= location.name %></option>
						<% } %>
				</select>	
    									<%= hidden_field_tag("observations[][concept_name]",        "Which clinic") %>
    									<%= hidden_field_tag("observations[][patient_id]",         params[:id]) %>
    									<%= hidden_field_tag("observations[][obs_datetime]",       "") %>
											<%= hidden_field_tag("observations[][value_datetime]",       "") %>
				<br />	
				<label for="location">Choose convenient ART Clinic day</label>
											<input type='text' name="observations[][value_datetime]" id="location" fieldtype="date" condition="__$('clinic').value.length > 0">
											<%= hidden_field_tag("observations[][concept_name]",        "Preferred Clinic Day") %>
    									<%= hidden_field_tag("observations[][patient_id]",         params[:id]) %>
    									<%= hidden_field_tag("observations[][obs_datetime]",       "") %>
						</fieldset>
											<%= link_to "Cancel" , "/clients/#{params[:id]}" %>
											<%= submit_tag "Finish" %>
	<%end%>
	<%= javascript_include_tag "ts" %>
</body>
</html>
