<html>
    <body>
        <%= form_tag(controller: "encounters", action: "new", method: "post") do %>
        <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
        <input type="hidden" value="Referral Consent Confirmation" name="ENCOUNTER"/>
        <input type="hidden" value="YES" name="refer"/> # refer to ART clinic? YES by default.
        <input type="hidden" value="ART clinic" name="observations[][value_coded_or_text]"> # referral clinic type, ART Clinic by default.
        <%= hidden_field_tag("observations[][concept_name]", "Refer to clinic") %>
        <%= hidden_field_tag("observations[][patient_id]", params[:id]) %>
        <%= hidden_field_tag("observations[][obs_datetime]", "") %>
        <%= hidden_field_tag("observations[][value_datetime]", "") %>
        #############################################################################################################
        <%= select_tag "observations[][value_coded_or_text]", params[:id],
                       {:id => 'clinic',
                        :field_type => 'alpha',
                        :helpText => "Referral to ART Clinic for #{@client.name.split.map(&:capitalize).join(' ')}. Choose convenient location.",
                        :ajaxURL => "/clients/locations/#{params[:id]}",
                        :allowFreeText => false } %>
        <%#= select_tag "observations[][value_coded_or_text]",
                        options_for_select("None","TB","STI","Other"),
                       {:id => 'clinic',
                        :field_type => 'alpha',
                        :helpText => "Other clinic?",
                        :allowFreeText => false } %>
        <%= select_tag("observations[][value_coded_or_text]", options_for_select(["None","TB","STI", "Other"]), {:helpText => "Other clinic?"})%>
        #############################################################################################################
        <%= text_field(:name, 'firstname', {:field_type => 'alpha',
                                            :helpText => 'First name',
                                            :ajaxURL => '/clients/first_name?search=',
                                            :allowFreeText => true })%>
        <%= text_field(:name, 'surname', {:field_type => 'alpha',
                                          :helpText => 'Last name',
                                          :ajaxURL => '/clients/last_name?search=',
                                          :allowFreeText => true })%>
        <%= select_tag(:gender, options_for_select(["","Male","Female"]), {:helpText => "Gender"})%>

        <label for="type">Type of Clinic</label>

        <select id="type" name="observations[][value_coded_or_text]" condition="__$('1.1').checked">
          <option></option>
          <option value="ART clinic">ART</option>
          <option value="STI clinic">TB</option>
          <option value="TB clinic">STI</option>
          <option value="Other">Other</option>
        </select>
        <%= hidden_field_tag("observations[][concept_name]",        "Referral clinic") %>
        <%= hidden_field_tag("observations[][patient_id]",         params[:id]) %>
        <%= hidden_field_tag("observations[][obs_datetime]",       "") %>
        <%= hidden_field_tag("observations[][value_datetime]",       "") %>
        <br />

        <label for="clinic">Choose convenient clinic location</label>
        <input type='text' id="clinic" name="observations[][value_coded_or_text]"
               condition="__$('1.1').checked" ajaxURL="/clients/locations/<%= params[:id] %>">
        <%= hidden_field_tag("observations[][concept_name]",        "Which clinic") %>
        <%= hidden_field_tag("observations[][patient_id]",         params[:id]) %>
        <%= hidden_field_tag("observations[][obs_datetime]",       "") %>
        <%= hidden_field_tag("observations[][value_datetime]",       "") %>
        <br />
        <label for="location">Choose convenient Clinic day</label>
        <input  type='text' name="observations[][value_datetime]" id="location" fieldtype="date" condition="__$('clinic').value.length > 0">
        <%= hidden_field_tag("observations[][concept_name]",        "Preferred Clinic Day") %>
        <%= hidden_field_tag("observations[][patient_id]",         params[:id]) %>
        <%= hidden_field_tag("observations[][obs_datetime]",       "") %>
        </fieldset>
        <% end %>
    </body>
</html>
