<html>
	<head>
      <style>
          #popup {
              -moz-user-select: none;
              background-color: #FEEFB3;
              border: 4px solid #C6C6C6;
              border-radius: 15px 15px 15px 15px;
              color: #9F6000;
              font-size: 28px;
              height: 165px;
              left: 40%;
              padding: 5px;
              position: absolute;
              text-align: center;
              top: 2%;
              width: 319px;
              z-index: 991;
          }
      </style>
	<script>
					var cancelDestination = "/htcs";

            function __$(id){
                    return document.getElementById(id);
            }

            function doLogin(id){

                            if(__$(id) && __$(id).value.trim().match(/\$/)){

                               __$(id).value =  __$(id).value.trim().replace(/\$/, "");

                                    clearTimeout(id)
                                      document.forms[0].submit();

                                    return;
                            }

                      setTimeout("doLogin('" + id + "')", 500);
            }

	</script>
          <style>
            <% if @show_counselling_room == true %>
              #stage, #btn3, #btn2, #btn1{
                    display: none ! important;
              }
              #buttons{
                width:10% ! important;
              }
            <% end %>
             #popupkeyboard{
                height: 255px ! important;
            }
          </style>
	</head>
<body onload="adjust()">


<%= form_tag search_results_path do %>
<%# raise params.inspect %>
        <% if @show_counselling_room != true %>

            <% if @reception_demographics.to_s == 'true'%>
                <% if !params[:firstname] %>
                    <fieldset>
                      <legend>Search Client</legend>
                      <br />

                      <label for="firstname"> First name</label>
                     <input type="text" id="firstname" name="firstname" value="" ajaxURL="/clients/first_name" optional = "false"/>
                     <br />

                    <label for="surname"> Surname</label>
                    <input type="text" id="surname" name="surname" value=""  ajaxURL="/clients/last_name" optional = "false" />
                       <br />

                      <label for="gender"> Gender </label>
                      <select id="gender" name="gender" optional = 'false'>
                        <option></option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                      </select>

                      <br />

                    </fieldset>

                   <!-- If params exist do below --> 
                <% elsif params[:firstname] %>
                    <fieldset>
                      <legend>New Client</legend>
                     <input type="hidden" id="firstname" name="firstname" value="<%= params[:firstname] %>" />
                     <br />
                    <input type="hidden" id="surname" name="surname" value="<%= params[:lastname] %>" />
                    <br />
                    <input type="hidden" id="gender" name="gender" value="<%= params[:gender] %>" />
                    <br />

                                  <label for="date_of_birth">Date Of Birth</label>
                                  <input type="text" id="date_of_birth" name="date_of_birth" fieldtype="age" optional="false"
                                         />
                                  <br />
                                  <label for="residence">Residence</label>
                                  <input type="text" name="residence" id="residence" value="" optional="false" ajaxURL="/locations/village" />
                                  <br />

                                   <label for="home_district">Home District</label>
                                   <input type="text" id="home_district" name="address2" value=""
                                   ajaxURL="/locations/village"/>

                                   <label for="ta">Traditional Authority</label>
                                   <input type="text" id="ta" name="ta" value=""
                                          ajaxURL="/locations/ta"/>

                                   <label for='occupation'>Occupation</label>
                                   <select id="occupation" name="Occupation">
                                     <option></option>
                                     <% @occupation.each{|occupation| %>
                                         <option value="<%= occupation %>"><%= occupation %></option>
                                     <% } %>
                                   </select>
                                   <br />

                                   <label for="cell_phone_number">Cell Phone Number</label>
                                   <input type="text" id="cell_phone_number" name='Cell Phone Number' value="" fieldtype="number"/>
                                   <br />
                    </fieldset>
                <% end %>
            <%# end %>
            <% else %>

                <fieldset>
                  <legend>Search Client</legend>
                  <br />

                                  <label for="firstname"> First name</label>
                                  <input type="text" id="firstname" name="firstname" value="" ajaxURL="/clients/first_name" optional = "false"/>
                                  <br />

                                  <label for="surname"> Surname</label>
                                  <input type="text" id="surname" name="surname" value=""  ajaxURL="/clients/last_name" optional = "false" />
                                    <br />

                                  <label for="gender"> Gender </label>
																	<select id="gender" name="gender" optional = 'false'>
																	<option></option>
																	<option value="Female">Female</option>
																	<option value="Male">Male</option>
																	</select>                  
												  				 <br />

                                  <label for="date_of_birth">Date Of Birth</label>
                                  <input type="text" id="date_of_birth" name="date_of_birth" fieldtype="age" optional="false"
                                         />
                                  <br />
              </fieldset>
              <fieldset>
                <legend>Search Client (cont..)</legend>
                  <br/>              
                                  <label for="residence">Residence</label>
                                  <input type="text" name="residence" id="residence" value="" optional="false" ajaxURL="/locations/village" />
                                  <br />

                                   <label for="home_district">Home District</label>
                                   <input type="text" id="home_district" name="address2" value=""
                                   ajaxURL="/locations/village"/>

                                   <label for="ta">Traditional Authority</label>
                                   <input type="text" id="ta" name="ta" value=""
                                          ajaxURL="/locations/ta"/>

                                   <label for='occupation'>Occupation</label>
                                   <select id="occupation" name="Occupation">
                                     <option></option>
                                     <% @occupation.each{|occupation| %>
                                         <option value="<%= occupation %>"><%= occupation %></option>
                                     <% } %>
                                   </select>
                                   <br />

                                   <label for="cell_phone_number">Cell Phone Number</label>
                                   <input type="text" id="cell_phone_number" name='Cell Phone Number' value="" fieldtype="number"/>
                                   <br />
              </fieldset> 
            <% end %>
        <% else %>  
              <fieldset>
                <legend>Search Client</legend>
                <br />
                                        <label for="scan_accession_number" >Accession Number </label>
                                        <input type="text" id="scan_accession_number" name="accession_number" optional="false" fieldtype="barcode" callback="doLogin('scan_accession_number')" >
                                              <input id="add_to_session" type="hidden" name="add_to_session" value="true">
              </fieldset>
        <% end %>

	<%= submit_tag "Finish" %>
           
<%end%>
</body>
<script src="/assets/touchscreentoolkitV2/ts.js?body=1"></script>

<script>
	btnCancel.parentNode.parentNode.parentNode.parentNode.style.backgroundColor="grey";
   function adjust(){
     <% if @show_counselling_room == true %>
            node =  document.getElementById('row2').childNodes[0].childNodes[0];
            node.style.width = "6%";
            node.style.height = "92px";
            document.getElementById('row2').childNodes[0].style.height = "92px";
            document.getElementById('row2').style.height = "92px";
            document.getElementById('row2').childNodes[0].style.backgroundColor = "grey";
            document.getElementById('row2').childNodes[0].style.MozBorderRadius = '1em';
            document.getElementById('row2').childNodes[0].style.borderRadius = '1em';
            button =  document.getElementById('buttons');
            button.style.removeProperty('border')
            button.style.backgroundColor = "grey";
      <% end %>
  }


    function customAlert(msg) {
        if (__$('popup'))
            __$('popup').parentNode.removeChild(__$('popup'));

        var ele = document.createElement('div');
        ele.id = "popup";
        ele.style.display = "inline";
        html = "<div style='display:table;width:100%;'><div style='display:table-row;width:100%;'>"
        html += "<div id='text'>" + msg + "</div></div><div style='display:table-row;width:100%;'>"
        html += '<div id="confirm"><button class="button blue" style="margin: 3px; font-size: 20px; height: 55px;" onmousedown="resetPopup()">Ok</button></div>'
        html += "</div></div></div></div>";
        ele.innerHTML = html;
        document.body.appendChild(ele);
    }

    function resetPopup() {
        var ele = document.getElementById('popup');
        ele.style.display = "none";
        ele.parentNode.removeChild(ele);
    }

    function __$(id){
        return document.getElementById(id);
    }

    function checkSearchList(){

    }

    <% if !flash[:error].blank? %>
    customAlert("<%= flash[:error]%>");
    <% elsif !flash[:notice].blank?   %>
    customAlert("<%= flash[:notice]%>");
    <% end %>

   function checkCompulsoryFields(){

       var section = btnNext.getAttribute("section");
       var pos = btnNext.getAttribute("pos");
       var node = navigablefieldsets[section][pos];

       if (node){

           var optional = node.getAttribute("optional");
           var optionals_entered = true;
           var message = 'cannot be blank!';
           var missing;

           if (parseInt(pos) == navigablefieldsets[section].length - 1) {
               for (var i = 0; i < navigablefieldsets[section].length; i++) {
                   var input = navigablefieldsets[section][i];
                   if (input.getAttribute('optional') == 'false' &&
                           (!input.value || input.value == '' || input.value == "?/?/?")) {
                       var missedLabel = __$('textFor' + input.id).parentNode.parentNode.childNodes[0].childNodes[0].innerHTML;
                       optionals_entered = false;
                   }

               }
           }

           var check = (!node.value || node.value.trim() == "?/?/?" || node.value.trim() == "");

           if((optionals_entered == false || (optional == "false" && (check)))) {
               var curLabel = __$('textFor' + node.id).parentNode.parentNode.childNodes[0].childNodes[0].innerHTML;

               if (check) {
                   message = curLabel + " " + message;
               }else{
                   message = missedLabel + " " + message;
               }

               btnNext.onmousedown = function () {
                   this.setAttribute("disabled", 'true');
                   customAlert(message);
                   this.className = "button gray";
               }
           }else{
               btnNext.onmousedown = null;
               btnNext.removeAttribute("disabled");
               btnNext.className = "button green"

               if (btnNext.innerHTML == 'Finish'){
                   btnNext.onmousedown = function(){
                       document.forms[0].submit();
                   }
               }
           }
       }
   }

   var interval = window.setInterval(function(){

       checkCompulsoryFields();

   }, 100);

</script>

</html>
