<html>
  <head>
    <script>

    </script>
    <style>
      .blank {
        display: none;
      }
      * {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;
      }

      #encounters{
            background-color: grey;
            border-bottom: 1px outset #eeeeee;
            border-style: outset;
            border-top: 1px outset #eeeeee;
            display: block;
            width: 98%;
            padding: 10px 16px 10px 10px;
            text-align: center;
            text-decoration: none;
}
#texts{
  border-radius: 10px;
  border: 3px solid #BADA55;
}
    </style>
  </head>
<body>
	<div id='home'>
				<input type="text" id="appname" value="HIV Testing<br/>&<br/>Counseling" />
				

			<div id="patient-card">
				
				<input type="text" id="gender" value='<%= @client.person.gender.chars.first.upcase %>' />
				
				<input type="text" id="name" value='<%= @names.given_name.humanize rescue "" %> <%= @names.family_name.humanize rescue "" %>' />
				
				<input type="text" id="Accession Number" value='<%= @accession_number %>' />
				
				<input type="text" id="Age" value='<%= @age %>' />
				
				<input type="text" id="Residence" value='<%= @residence %>' />
				
				<input type="text" id="Work-flow Status" value='<%= @status.name rescue "" %>' />
				
			</div>
			
			<div id="buttons">
				
				<button onmousedown="window.location = '/htcs'">Finish</button>
				
				<button onmousedown="window.location = '/htcs'">Cancel</button>
				
				<button onmousedown="window.location = '/client_demographics?client_id=<%= @client.id -%>'">
				Demographics</button>
				
				<% if !session[:datetime].blank?  %>
					<button onmousedown="window.location = '/admins/set_date?client_id=<%= @client.id -%>'">
			    Reset Date</button>
				<% else %>
					<button onmousedown="window.location = '/admins/set_date?client_id=<%= @client.id -%>'">
					Set Date</button>
				<% end %>

			</div>
			
			<select id="tabs">
				<option value="/client_current_visit?client_id=<%= @client.id %>">Current Visit</option>
				<option value="/client_previous_visit?client_id=<%= @client.id %>">Previous Visits</option>
                                <option value="/client_tasks?client_id=<%= @client.id %>">Tasks</option >
				<option value="/client_printouts?client_id=<%= @client.id %>">Printouts</option>		
			</select> 
					 
	</div>
	<%= javascript_include_tag 'touchscreentoolkitV2/dashboard' %>
</body>
</html>
<script>
  var elements = document.getElementsByClassName('clicked');
  var currentTab = '<%= params[:tab] %>';
  if (currentTab.length > 0){
    for(var i = 0; i < elements.length; i++){
            elements[i].className = 'cell normal tab'
    };
    if (currentTab == 'task'){
           admin = __$('uitab3')
           admin.setAttribute('class', 'cell clicked tab')
           __$("uidisplayiframe").setAttribute("src", admin.getAttribute("path"));
    }
    if (currentTab == 'report'){
           admin = __$('uitab2')
           admin.setAttribute('class', 'cell clicked tab')
           __$("uidisplayiframe").setAttribute("src", admin.getAttribute("path"));
    }
    if (currentTab == 'room'){
           admin = __$('uitab1')
           admin.setAttribute('class', 'cell clicked tab')
           __$("uidisplayiframe").setAttribute("src", admin.getAttribute("path"));
    }
  }
  <% params[:tab] = ""  %>

   eContainer = document.getElementsByClassName('cell8')[0];
         var table = document.createElement("div");
        table.style.display = "table";
        table.style.margin = "auto";
        table.style.width = "100%";
        //table.style.border = "1px solid #000";

        eContainer.appendChild(table);

        var row1 = document.createElement("div");
        row1.style.display = "table-row";
        row1.id = "encounters"
        table.appendChild(row1);
        <% @all_encounters.each{|encounter, color| %>
        var cell1 = document.createElement("div");
        cell1.style.display = "table-cell";
        cell1.id = "texts"
        cell1.style.backgroundColor = '<%= color.humanize %>'
          <% if encounter.match(/confirmation/i) %>
              cell1.innerHTML = 'Confirm'
          <% else %>
            cell1.innerHTML = '<%= encounter.squish.humanize %>'
          <% end %>
        row1.appendChild(cell1)
        <% } %>
</script>