<html>
	<head>
		<script>
			
		</script>
		<style>
			.blank {
				display: none;			
			}
		</style>
	</head>
<body>
	<div id='home'>
				<input type="text" id="appname" value="HIV Testing<br/>&<br/>Counseling" />
				

			<div id="patient-card">
				
				<input type="text" id="gender" value='<%= @client.person.gender.chars.first.upcase %>' />
				
				<input type="text" id="name" value='<%= @names.given_name rescue "" %> <%= @names.family_name rescue "" %>' />
				
				<input type="text" id="Accession Number" value='<%= @accession_number %>' />
				
				<input type="text" id="Age" value='<%= @age %>' />
				
				<input type="text" id="Residence" value='<%= @residence %>' />
				
				<input type="text" id="Work-flow Status" value='<%= @status.name rescue "" %>' />
				
			</div>
			
			<div id="buttons">
				
				<button onmousedown="window.location = '/htcs'">Finish</button>
				
				<button onmousedown="window.location = '/htcs'">Cancel</button>
				
				<button onmousedown="window.location = '/client_demographics?client_id=<%= @client.id -%>'">
				Demographics</button>
				
				<% if  session[:datetime].to_date != Date.today.to_date  %>
					<button onmousedown="window.location = '/admins/set_date?client_id=<%= @client.id -%>'">
			    Reset Date</button>
				<% else %>
					<button onmousedown="window.location = '/admins/set_date?client_id=<%= @client.id -%>'">
					Set Date</button>
				<% end %>

			</div>
			
			<select id="tabs">
				<option value="/client_current_visit?client_id=<%= @client.id %>">Current Visit</option>
				<option value="/client_previous_visit?client_id=<%= @client.id %>">Previous Visits</option>
                                <option value="/client_tasks?client_id=<%= @client.id %>">Tasks</option >
				<option value="/client_printouts?client_id=<%= @client.id %>">Printouts</option>		
			</select> 
					 
	</div>
	<%= javascript_include_tag 'touchscreentoolkitV2/dashboard' %>
</body
