<html>
	<head>
	</head>
<body>
	<div id='content'>
		<div id='description'>
				<form id='dashboard'>
					<h1 id='project_name'>
              <span style="font-size: 55px;">HTC</span>
          </h1>
					<span id='patient_name'> <%= @names.given_name rescue "" + " " + @names.family_name rescue "" %> - 
						<%= @client.person.gender %> </span><br>
					<span id='accession_number'> <%= @accession_number %> </span><br>
					<span id='patient_residence'> <%= @residence %></span><br>
					<span id='patient_age'> <%= @age %></span><br>
					<span id='workflow_status'> <%= @status %></span><br> 

					<!-- select id="links" -->
                <a href='/client_demographics?client_id=<%= @client.id -%>' label="Edit Demographics">
											Edit Demographics</a>
								<a href='/client_counseling?client_id=<%= @client.id -%>' label="Counseling Protocol">
											Counseling Protocol</a>
								<a href='/client_testing?client_id=<%= @client.id -%>' label="HIV Testing Protocol">
											HIV Testing Protocol</a>
           <!--/select--><br>
					 
					 <!--select id="tabs" -->
              <a href='/client_current_visit?client_id=<%= @client.id %>'>Current Visit</a>
              <a href='/client_previous_visit?client_id=<%= @client.id %>'>Previous Visits</a>
            <!--/select --><br>
					<a href='/htcs'>Cancel</a>
          <a href='/htcs'>Finish</a>
				</form>
		</div>
	</div>
</body
