<html>
<head>
<style>


    .blue {
        border-radius: 15px;
        display: block;
        float: left;
        height: 60px;
        margin-right: 30px;
        vertical-align: baseline;
        width: 90px;
        background-repeat: no-repeat;
        border: 3px outset rgb(73, 93, 135);
        background-color: rgba(33, 103, 185, 0.75);
        opacity: 0.9;
        text-shadow:1px 5px 10px #fff;
        background-size: 110px 80px;
    }

    .blue:hover{
        border: 4px outset rgb(73, 93, 135);
        background-color: rgba(33, 103, 185, 0.75);
    }

    .blue:active{
        border: 5px outset rgb(250, 220, 200);
        background-color: rgba(43, 103, 185, 0.75);
    }

#test {
	background-image: url(<%= asset_path 'testing.png' %>);
}
#hospital {
	background-image: url(<%= asset_path 'hospital.png' %>);
}
#counseling{
	background-image: url(<%= asset_path 'users.png' %>);
}
#schedule{
 	background-image: url(<%= asset_path 'schedule.png' %>);
}

#history{
 	background-image: url(<%= asset_path 'status_history.png' %>);
}

#risk{
 	background-image: url(<%= asset_path 'risk_assessment.png' %>);
}

#extend{
 	background-image: url(<%= asset_path 'extended.jpg' %>);
}

.txt {
  color: #000000;
  display: block;
  font-size: 19px;
  position: relative;
  text-align: center;
  top: 100px;
}
</style>
<script>
</script>
</head>
<body>
<br />
<br />

<base target="_parent">

  <a href= '/client_status/<%= @client.id -%>' id="history" class=" blue">
  <span class="txt">Status History</span></a>

<a href="/client_counseling?client_id=<%= @client.id -%>"  id="counseling" class='blue' >
   <span class="txt"> Counseling</span></a>

   <a href= '/client_assessment/<%= @client.id -%>' id="risk" class=" blue">
  <span class="txt">Assessment</span></a>

<a href= '/client_testing?client_id=<%= @client.id -%>' id="test" class=" blue">
  <span class="txt">Testing</span></a>
  
  <a href= '/extended_testing/<%= @client.id -%>' id="extend" class=" blue">
  <span class="txt">Extended Testing</span></a>

  <a href= '/referral_consent/<%= @client.id -%>' id="hospital" class=" blue">
    <span class="txt">Referral</span></a>

 <a href= '/appointment/<%= @client.id -%>'  id="schedule" class=" blue">
    <span class="txt">Appointment</span></a>

 <a href= '/early_infant_diagnosis_menu/<%= @client.id -%>'  id="eid" class=" blue">
    <span class="txt">Early Infant Diagnosis</span></a> <br /><br /><br /><br /><br /><br /><br />

 <a href= '/hiv_viral_load_menu/<%= @client.id -%>'  id="hiv_viral_load" class=" blue">
    <span class="txt">HIV Viral load</span></a>
</body>
</html>
