<html>
<head>
  <style>
    #cover {
      display: none;
}
  </style>
                <%= javascript_include_tag 'jquery-1.3.2.min' %>
		<script>
			var cancelDestination = "clients/<%= params[:client_id] %>?tab=task";
                        var age = '<%= @client.person.age rescue 0 %>'
                        var rapidValue = "";
                        var goldValue = "";
                        var motherStatus = "";
                        var result1 = "";
                        var result2 = "";

                         function setValues(){
                                  if (__$('timetimer1')){
                                      rapidValue = __$('timetimer1').innerHTML.toString()
                                  }
                                  __$('rapidtimer').value = subtractMinutes(rapidValue.split(":"), "10:00".split(":"));
                                 if(__$('timetimer2')){
                                   goldValue = __$('timetimer2').innerHTML.toString()
                                 }
                                  __$('goldtimer').value =  subtractMinutes(goldValue.split(":"), "15:00".split(":"));
                                  __$("allresults").value  = "";
                                  if(__$("customresult1").value == "Positive" && __$("customresult2").value == "Positive" && __$("mother").value != "Yes"){
                                      __$("allresults").value = "Positive"
                                      clearTimeout("setValues()")
                                      confirm()
                                  }

                                  if((__$("customresult1").value == "Positive" && __$("customresult2").value == "Negative") || (__$("customresult1").value == "Negative" && __$("customresult2").value == "Positive")){
                                     __$("alltimers").value = "YES"
                                     __$("allresults").value = "Inconclusive"
                                      clearTimeout("setValues()")
                                      confirm()
                                  }


                                  if(__$("mother").value == "Yes"){
                                    clearTimeout("setValues()")
                                    confirm()
                                     __$("allresults").value = "Exposed Infant"
                                  }
                                   setTimeout("setValues()", 500);
                        }

                        function __$(id){
                            return document.getElementById(id);
                      }


               function confirm(){
                     var ele = document.getElementById('cover')
                      ele.style.display = "inline";
                      document.body.appendChild(ele);

                      var ele = document.getElementById('popup')
                      ele.style.display = "inline";
                      html = "<div style='display:table;width:100%;'><div style='display:table-row;width:100%;'>"
                      html += "<div id='text'>Inconclusive, continue testing?</div></div><div style='display:table-row;width:100%;'>"
                      html += '<div style="display:table-cell;width:100%;"><div style="display:table;width:100%;"><div style="display:table-row;width:100%;"><div id="cancel"><button class="button red_cancel" style="margin: 3px; font-size: 20px; height: 60px;" onmousedown="deny()">No</button></div>'
                      html += '<div id="confirm"><button class="button blue" style="margin: 3px; font-size: 20px; height: 60px;" onmousedown="allow()">Yes</button></div>'
                      html += "</div></div></div></div></div>"
                      ele.innerHTML =  html;
                      document.body.appendChild(ele);
                  }

              function allow(){
                      document.forms[0].submit();
              }

              function deny(){
                      document.forms[0].submit();
              }
              
		function loadCustom(message){
                               if (message == "timer2"){
                                   if (__$("customresult1").value != "Positive"){
                                      document.forms[0].submit()
                                   }
                                 }
				if(__$("main-content-area")){
					
					__$("main-content-area").innerHTML = "";
					
					var table = document.createElement("div");					
					table.style.display = "table";
					table.style.margin = "auto";
					// table.style.border = "1px solid #000";
					
					__$("main-content-area").appendChild(table);
				
                                        var row1 = document.createElement("div");
					row1.style.display = "table-row";
					
					table.appendChild(row1);

					if (message == "timer1"){

                                        var cell1_1 = document.createElement("div");
					cell1_1.style.display = "table-cell";
					cell1_1.id = "timer1";
					
					row1.appendChild(cell1_1);
					
					var timer1 = addTimer(cell1_1, 10, "Rapid Test Timer", 0.55)

					timer1.style.marginLeft = "40px";
					
					timer1.style.marginRight = "40px";

                                        }else{
					var cell1_2 = document.createElement("div");
					cell1_2.style.display = "table-cell";
					cell1_2.id = "timer2";
					cell1_2.style.textAlign = "right";
					
					row1.appendChild(cell1_2);
					
					var timer2 = addTimer(cell1_2, 15, "Gold Test Timer", 0.55);
					
					timer2.style.marginLeft = "40px";
					
					timer2.style.marginRight = "40px";

                                        }
					var row2 = document.createElement("div");
					row2.style.display = "table-row";
					
					table.appendChild(row2);
					
					var cell2_1 = document.createElement("div");
					cell2_1.style.display = "table-cell";
					cell2_1.id = "label1";
					cell2_1.style.textAlign = "right";
					cell2_1.style.padding = "10px";
					
					row2.appendChild(cell2_1);
					
					addLabel(cell2_1, "Result", "32px", "black");
					
					var cell2_2 = document.createElement("div");
					cell2_2.style.display = "table-cell";
					cell2_2.id = "text1";
					cell2_2.style.padding = "10px";
					
					row2.appendChild(cell2_2);

                                        if (message == "timer1"){
                                          resultname = "resultdisplay1"
                                          comboname = "customresult1"
                                          var text = addTextbox(cell2_2, "text", document.getElementById("customresult1"));
                                          text.id = "resultdisplay1"
                                        }else{
                                           resultname = "resultdisplay2"
                                           comboname = "customresult2"
                                          var text = addTextbox(cell2_2, "text", document.getElementById("customresult2"));
                                          text.id = "resultdisplay2";                                       
                                        }

					
					text.style.fontSize = "28px";
					
					var div = document.createElement("div");
					div.style.width = "100%";
					div.style.height = "100%";
					div.style.overflow = "auto";
					
					var combo = addCombo(__$("stage"), {"Unknown":"Uknown","Positive":"Reactive","Negative":"Non-Reactive"}, "single", document.getElementById(resultname), document.getElementById(comboname));
					
					combo.style.fontSize = "28px";

					combo.style.textAlign = "left";

					if(btnClear){
						
						btnClear.onclick = function(){
							
							document.getElementById(resultname).value = "";
							
							document.getElementById(comboname).value = "";

							
							clearUl("ul2");
							
						}
						
					}
          
				}                                    
                              
			}
                        
                     
		</script>
</head>
<body onLoad="setValues()">
	
		<%= form_tag(controller: "encounters", action: "new", method: "post", id: params[:client_id]) do %>
		<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
		<input type="hidden" value="HIV TESTING" name="ENCOUNTER"/>
                <input type="hidden" value="" name="all timers request" id="alltimers"/>
                
                                <input type="hidden" id="test_type" name="observations[][value_text]" value="" />
				<input type="hidden" name="observations[][concept_name]" value="HIV test type" />
				<input type="hidden" name="observations[][patient_id]" value="<%= params[:client_id] %>" />
				<input type="hidden" name="observations[][obs_datetime]" value="" />

                                 <input type="hidden" name="observations[][value_text]" id="allresults" fieldtype="number" />
				<input type="hidden" name="observations[][concept_name]" value="Result of hiv test" />
				<input type="hidden" name="observations[][patient_id]" value="<%= params[:client_id] %>" />
				<input type="hidden" name="observations[][obs_datetime]"  value="" />
		 
		<fieldset custom=true fs_onLoad="loadCustom('timer1');">
				<legend>HIV Testing</legend>
			
                                <input type="hidden" id="give_concent" name="giveconcent" value="" />
				<input id="customresult1" name="observations[][value_text]" type="hidden" value="" />
				<input type="hidden" name="observations[][concept_name]" value="Rapid test result" />
				<input type="hidden" name="observations[][patient_id]" value="<%= params[:client_id] %>" />
				<input type="hidden" name="observations[][obs_datetime]" value="" />


				<input type="hidden" name="observations[][value_text]" id="rapidtimer" fieldtype="number"  value="" />
                                <input type="hidden" name="observations[][concept_name]" value="Rapid Antibody Testing Time frame" id="hidden"/>
				<input type="hidden" name="observations[][patient_id]" value="<%= params[:client_id] %>" />
				<input type="hidden" name="observations[][obs_datetime]" />
		
							
		</fieldset>

                <fieldset custom=true hidden="true" fs_onLoad="loadCustom('timer2');">
				<legend>HIV Testing</legend>

                                <input id="customresult2" name="observations[][value_text]" type="hidden" value="" />
				<input type="hidden" name="observations[][concept_name]" value="Gold test reult" />
				<input type="hidden" name="observations[][patient_id]" value="<%= params[:client_id] %>" />
				<input type="hidden" name="observations[][obs_datetime]" value="" />

				<input type="hidden" name="observations[][value_text]" id="goldtimer" fieldtype="number" value="" />
				<input type="hidden" name="observations[][concept_name]" value="Gold Antibody Testing Time frame" />
				<input type="hidden" name="observations[][patient_id]" value="<%= params[:client_id] %>" />
				<input type="hidden" name="observations[][obs_datetime]"  value="" />

		</fieldset>

                 <fieldset>
				<legend>HIV Testing</legend>

                                <% if @client.person.age < 1 %>
                               <label for="mother">Mother HIV positive</label>

                               <select id="mother" name="observations[][value_coded_or_text]" condition="">
					<option></option>
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
                                <%= hidden_field_tag("observations[][concept_name]",        "Mother HIV status") %>
                                <%= hidden_field_tag("observations[][patient_id]",         params[:id]) %>
                                <%= hidden_field_tag("observations[][obs_datetime]",       "") %>
                                 <%= hidden_field_tag("observations[][value_datetime]",       "") %>
                                 <% else %>
                                <input type="hidden" id="mother"  value="" />
                               <% end %>
                </fieldset>

			<input type="submit" value="Submit" />

	<%end%>
</body>
</html>
  <div id="cover" align="center">
  </div>
  <div id="popup" style="display:none">
  </div>
<script>
  
 <% if @last_date == 0 %>
      __$("test_type").value = "Initial HIV test"
<% elsif @last_date == 1 %>
      __$("test_type").value = "Return after four weeks"
<% else %>
      __$("test_type").value = "Return before four weeks"
  <% end %>

</script>
