<html>
<head>
		<script>
			var cancelDestination = "clients/<%= params[:client_id] %>";
			function loadCustom(){
			
				if(__$("main-content-area")){
					
					__$("main-content-area").innerHTML = "";
					
					var table = document.createElement("div");					
					table.style.display = "table";
					table.style.margin = "auto";
					// table.style.border = "1px solid #000";
					
					__$("main-content-area").appendChild(table);
					
					var row1 = document.createElement("div");
					row1.style.display = "table-row";
					
					table.appendChild(row1);
					
					var cell1_1 = document.createElement("div");
					cell1_1.style.display = "table-cell";
					cell1_1.id = "timer1";
					
					row1.appendChild(cell1_1);
					
					var timer1 = addTimer(cell1_1, 10, "Rapid Test Timer", 0.55);
					
					timer1.style.marginLeft = "40px";
					
					timer1.style.marginRight = "40px";
					
					var cell1_2 = document.createElement("div");
					cell1_2.style.display = "table-cell";
					cell1_2.id = "timer2";
					cell1_2.style.textAlign = "right";
					
					row1.appendChild(cell1_2);
					
					var timer2 = addTimer(cell1_2, 15, "Gold Test Timer", 0.55);
					
					timer2.style.marginLeft = "40px";
					
					timer2.style.marginRight = "40px";
					
					var row2 = document.createElement("div");
					row2.style.display = "table-row";
					
					table.appendChild(row2);
					
					var cell2_1 = document.createElement("div");
					cell2_1.style.display = "table-cell";
					cell2_1.id = "label1";
					cell2_1.style.textAlign = "right";
					cell2_1.style.padding = "10px";
					
					row2.appendChild(cell2_1);
					
					addLabel(cell2_1, "Result", "32px", "black");
					
					var cell2_2 = document.createElement("div");
					cell2_2.style.display = "table-cell";
					cell2_2.id = "text1";
					cell2_2.style.padding = "10px";
					
					row2.appendChild(cell2_2);
					
					var text = addTextbox(cell2_2, "text", document.getElementById("customresult"));
					text.id = "resultdisplay";
					
					text.style.fontSize = "28px";
					
					var div = document.createElement("div");
					div.style.width = "100%";
					div.style.height = "100%";
					div.style.overflow = "auto";
					
					var combo = addCombo(__$("stage"), {"Positive":"Reactive","Negative":"Non-Reactive"}, "single", document.getElementById("resultdisplay"), document.getElementById("customresult"));
					
					combo.style.fontSize = "28px";

					combo.style.textAlign = "left";
          
					if(btnClear){
						
						btnClear.onclick = function(){
							
							document.getElementById("resultdisplay").value = "";
							
							document.getElementById("customresult").value = "";
							
							clearUl("ul2");
							
						}
						
					}
          
				}
				
			}
			
			function assignValue() {
				buttons = document.getElementsByClassName('button green')
				for (var i = 0; i < buttons.length; i++){
					if (buttons[i].innerHTML == "Next"){
							buttons[i].setAttribute("onclick", "setValues()")				
					}				
				}
			}


			function setValues(){
						document.getElementById('rapidtimer').value = document.getElementById('timetimer1').innerHTML
						document.getElementById('goldtimer').value = document.getElementById('timetimer2').innerHTML			
			}
		</script>
</head>
<body>
	
		<%= form_tag(controller: "encounters", action: "new", method: "post", id: params[:client_id]) do %>
		<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
		<input type="hidden" value="HIV TESTING" name="ENCOUNTER"/>
		<fieldset custom=true fs_onLoad="loadCustom();assignValue();">
				<legend>HIV Testing</legend>
						
				
				<input id="customresult" name="customresult" type="hidden" value="" />
						<input type="hidden" name="observations[][concept_name]" value="Result of HIV test" />
						<input type="hidden" name="observations[][patient_id]" value="<%= params[:client_id] %>" />
						<input type="hidden" name="observations[][obs_datetime]" value="" />
						<input type="hidden" name="observations[][value_numeric]" value="" />
	
						<input type="hidden" name="observations[][value_numeric]" id="rapidtimer" value="" fieldtype="number">
						<input type="hidden" name="observations[][concept_name]" value="Rapid Antibody Testing Time frame" id="hidden"/>
						<input type="hidden" name="observations[][patient_id]" value="<%= params[:client_id] %>" />
						<input type="hidden" name="observations[][obs_datetime]" />
						<input type="hidden" name="observations[][value_coded_or_text]" value="" />
				<br>
				<label for="goldtimer">Gold Test Timer</label> 
						<input type="hidden" name="observations[][value_numeric]" id="goldtimer" fieldtype="number">
						<input type="hidden" name="observations[][concept_name]" value="Gold Antibody Testing Time frame" />
						<input type="hidden" name="observations[][patient_id]" value="<%= params[:client_id] %>" />
						<input type="hidden" name="observations[][obs_datetime]", value="" />
						<input type="hidden" name="observations[][value_coded_or_text]" value="" />
									
			</fieldset>

			<input type="submit" value="Submit" />

	<%end%>
</body>
</html>
