<html>
<head>
		<script>
			var cancelDestination = "clients/<%= params[:client_id] %>";
		</script>
</head>
<body>
	
		<%= form_tag(controller: "encounters", action: "new", method: "post", id: params[:client_id]) do %>
		<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
		<input type="hidden" value="HIV TESTING" name="ENCOUNTER"/>
		<fieldset>
				<legend>HIV Testing</legend>
						
				<label for="rapidtimer">Rapid Test Timer</label> 
	
						<input type="text" name="observations[][value_numeric]" id="rapidtimer" value="" fieldtype="number">
						<input type="hidden" name="observations[][concept_name]" value="Rapid Antibody Testing Time frame" id="hidden"/>
						<input type="hidden" name="observations[][patient_id]" value="<%= params[:client_id] %>" />
						<input type="hidden" name="observations[][obs_datetime]" value="" />
						<input type="hidden" name="observations[][value_coded_or_text]" value="" />
				<br>
				<label for="goldtimer">Gold Test Timer</label> 
						<input type="text" name="observations[][value_numeric]" id="goldtimer" value="" fieldtype="number">
						<input type="hidden" name="observations[][concept_name]" value="Gold Antibody Testing Time frame" />
						<input type="hidden" name="observations[][patient_id]" value="<%= params[:client_id] %>" />
						<input type="hidden" name="observations[][obs_datetime]", value="" />
						<input type="hidden" name="observations[][value_coded_or_text]" value="" />
				<br>
				<label for="result">Results</label> 
				<select id="result" name="observations[][value_coded_or_text]">
						<option></option>
						<option value="Reactive">Reactive</option>
						<option value="Non-Reactive">Non-Reactive</option>
						<option value="Unknown">Unknown</option>
				</select>				
						<input type="hidden" name="observations[][concept_name]" value="Result of HIV test" />
						<input type="hidden" name="observations[][patient_id]" value="<%= params[:client_id] %>" />
						<input type="hidden" name="observations[][obs_datetime]" value="" />
						<input type="hidden" name="observations[][value_numeric]" value="" />						
			</fieldset>

			<input type="submit" value="Submit" />

	<%end%>
	<%= javascript_include_tag "ts" %>
</body>
</html>
