<h1>Clients Waiting List</h1>

<ul>
<% @clients.each do |client| %>
		<li> <%= link_to "Client/#{client.id}" , client %> |
				 <%= link_to "Remove from Un-allocated",
											remove_from_unallocated_path(client)%>|
											
				 <% current_state = client.current_state rescue "" %>
				 
				 <% if current_state.empty? %>
					 <%= link_to "Add to Un-allocated list", add_to_unallocated_path(client) %>
				 
				 <% elsif current_state == "Unallocated" %>
					 <%= link_to "Allocated to Counseling Room",
												assign_to_counseling_room_path(client)%>
				 <% else %>
				 	<%= "Status: #{current_state} "%>
				 <% end %>
		</li>

<%end%>
</ul>

<%= link_to "Cancel" , htcs_path %>
<%= link_to "Select", '' %>


