<html>
	<head>
	<script>
					var cancelDestination = "/htcs";
	</script>
	
	<%= stylesheet_link_tag 'panel' %>
	</head>
<body>


<%= form_tag remove_from_waiting_list_path, :id=>"waiting_list" do %>
		<fieldset>
			<legend>Waiting List</legend>

			<br />
				<label for="id"> Remove from waiting list? </label>
				<select id="id" name="id">
						<option></option>
						<%= @waiting.each do |li| %>
							<option value="<%= li[:id] %>"> Accession number :<%= " #{li[:accession_number]}" %>;<%= "#{li[:gender]}" %>; </option>
						<% end %>
					</select>
				<br />
		</fieldset>
	<%= submit_tag "Finish" %>
           
<%end%>
</body>
	
<%= javascript_include_tag 'touchscreentoolkitV2/ts' %>
<script>

	var sidePanelData = {<%= @side_panel_date.html_safe %>};

	function highlightList(obj) {
    if(obj.getAttribute("target") != null){
      if(__$(obj.getAttribute("target"))){
        var opts = __$(obj.getAttribute("target")).children;
        
        for(var i = 0; i < opts.length; i++){
          if(opts[i].getAttribute("selecttag") != null){
            opts[i].removeAttribute("selecttag");
            opts[i].style.backgroundColor = (opts[i].getAttribute("tag") == "odd" ? "#eee" : "");
          }
        }
      }

      obj.setAttribute("selecttag", true);
      obj.style.backgroundColor = "lightblue";
      obj.style.color = "black";
    }
	}
	
	function sortChildren(parent_id) {
		parent = __$(parent_id);
		children = parent.children;
		
		var sortable = [];
		var pos;
		var l = children.length;
		for (var i=0;  i<l; i++) {
			pos = children[i].getAttribute("order");
			sortable.push([children[i], pos]);
		}
		
		sortable.sort(function(a, b) {return a[1] - b[1]})
		parent.innerHTML = "";
		
		for(var i in sortable) {
			parent.appendChild(sortable[i][0]);
		}
	}

	function remove_client_from_waiting_list() {
	 document.getElementById("waiting_list").submit();
	}

	function printAccession(id){
        window.location = '/clients/print_accession/' + id
   }

	__$("row1").style.display="none";
	__$("buttons").style.verticalAlign = "bottom";
	__$("buttons").style.width = "100%";
	__$("buttons").style.height = "100%";

	btnNext.innerHTML = "Remove client from waiting list";
	btnNext.style.width = "400px"; 
	btnCancel.style.width = "250px";
	btnNext.style.display = "none";

	var display = "inline-table";

	btnDivs = __$('buttons').children[0].children;

	btnDivs[1].style.display = "none";
	btnDivs[2].style.display = "none";

	btnDivs[0].style.display  = "inline-table";
	btnDivs[3].style.display  = "inline-table";

	btnDivs[3].style.cssFloat = "right";

	var dsp = document.createElement("div");
	dsp.id = "dsp";
	dsp.style.display = "table-cell";
	dsp.style.border = "1px solid #3465a4";
	dsp.style.overflow = "hidden";
	dsp.style.borderRadius = "10px";
	dsp.style.width = "46%";
	dsp.style.height = "100%";
	dsp.style.verticalAlign = "top";
	dsp.innerTHML = "none";

	__$('textForid').style.height = "100%";
	__$('textForid').style.width = "100%";
	
	var lst = __$('ul1').children;
	
	for (var i=0; i < lst.length ; i++) {
			lst[i].onmousedown = function() {
			highlightList(this);
			__$('textForid').value = this.value;
			
			dspValue = this.innerHTML.split(';');
			var s = "";
			
	    var button = '<a href="#" id="remove" ' +
					 				 'onmousedown="remove_client_from_waiting_list()"' +
					 				 ' class="blue" pos="0" section="0"><span class="txt">Remove from waiting list</span></a>';

			var obj = sidePanelData[this.value];
                s += "<table class = 'list-table'>"
                s += addString("Accession Number", obj.accession_number );
                s += addString("Gender", obj.gender );
                s += addString("Age", obj.age );
                s += addString("Date of Birth", obj.birthDate );
                s += addString("Residence", obj.residence );
                s += addString("Last Visit", obj.last_visit );
						
			if (obj.has_booking) {
                s += addString("Booking", obj.appointment_date, (obj.days_since_last_visit  + " day(s)") );
			}
					 
			if (parseInt(obj.days_since_last_visit) > 0) {
                s += addString("Period Since Last Visit", obj.last_visit );
			}

		var btnPrnt = '<a href="#" id="print"' +
		    						 'onmousedown="printAccession(' + obj.id + ')"' +
		    						 ' class="blue" pos="0" section="0"><span class="txt">Print Accession</span></a>';

            s+= "</table>";

			__$('dsp').innerHTML = s + "<br /> <br />" +button+" "+btnPrnt;  
		};
	}
	__$('textForid').value = -1;
	row.insertBefore(dsp, row.firstChild);
	__$("row0").parentNode.appendChild(__$('buttons'));
	
	//Load prioritised list
	var list = [<%= @w.to_s.html_safe %>];
	var d = document.getElementById('ul1').children;

	for(var i=0; i<list.length; i++) {
		li = list[i];
		if (li.has_booking) {
			d[i].innerHTML = "Accession :" + li.accession_number + ";" + li. gender + "; DOB : " + li.birthDate + "; <span style='color:red;'>App: " + li.appointment_date + "</span>";
		}else {
			d[i].innerHTML = "Accession :" + li.accession_number + ";" + li. gender + "; DOB : " + li.birthDate;		
		}
		d[i].value = li.id;
	}

	btnCancel.parentNode.parentNode.parentNode.style.backgroundColor="grey";
	
		if (__$('ul1')) {
			__$('ul1').children[0].onmousedown();
		}

    function addString(label, value){
        if (!value)
            value = "&nbsp";

        return ("<tr>" +
                "<td style='border: 1px dotted lightgray; color: rgb(50, 50, 50); width: 40%; font-size: 1.2em; font-weight: bold;padding: 10px;'> " + label + "</td>" +
                "<td style='border: 1px dotted lightgray;width: 40%; font-size: 1.3em; padding: 10px;font-style: italic;'>" + value + "</td>" +
                "</tr>");

    }

</script>
</html>
<style>
   .blue {
    border-radius: 35px;
    display: block;
    float: left;
    height: 75px;
    margin-right: 35px;
    vertical-align: baseline;
    width: 75px;
    background-repeat: no-repeat;
    background-size: 60px 60px;
}
#remove {
	background-image: url(<%= asset_path 'add_list.png' %>);
	background-size: cover;
}
#print {
	background-image: url(<%= asset_path 'printer2.png' %>);
	background-size: cover;
}
#new {
	background-image: url(<%= asset_path 'add_client.png' %>);
	background-size: cover;
}
#deactivate {
	background-image: url(<%= asset_path 'activate.jpeg' %>);
	background-size: cover;
}
.txt {
  color: #000000;
  display: block;
  font-size: 15px;
  position: relative;
  text-align: center;
  top: 85px;
}
.list-table{
   width: 100%;
}
</style>
