<html>
	<head>
	<script>
					var cancelDestination = "/htcs";
	</script>
	
	<%= stylesheet_link_tag 'panel' %>
	</head>
<body>


<%= form_tag remove_from_waiting_list_path, :id=>"waiting_list" do %>
		<fieldset>
			<legend>Waiting List</legend>

			<br />
				<label for="id"> Remove from waiting list? </label>
				<select id="id" name="id">
						<option></option>
						<%= @waiting.each do |li| %>
							<option value="<%= li[:id] %>"> Accession number :<%= " #{li[:accession_number]}" %>;<%= "#{li[:gender]}" %>; </option>
						<% end %>
					</select>
				<br />
		</fieldset>
	<%= submit_tag "Finish" %>
           
<%end%>
</body>
	
<%= javascript_include_tag 'touchscreentoolkitV2/ts' %>
<script>

	var sidePanelData = {<%= @side_panel_date.html_safe %>};

	function highlightList(obj) {
    if(obj.getAttribute("target") != null){
      if(__$(obj.getAttribute("target"))){
        var opts = __$(obj.getAttribute("target")).children;
        
        for(var i = 0; i < opts.length; i++){
          if(opts[i].getAttribute("selecttag") != null){
            opts[i].removeAttribute("selecttag");
            opts[i].style.backgroundColor = (opts[i].getAttribute("tag") == "odd" ? "#eee" : "");
          }
        }
      }

      obj.setAttribute("selecttag", true);
      obj.style.backgroundColor = "lightblue";
      obj.style.color = "black";
    }
	}

	function remove_client_from_waiting_list() {
	 document.getElementById("waiting_list").submit();
	}

	__$("row1").style.display="none";
	__$("buttons").style.verticalAlign = "bottom";
	__$("buttons").style.width = "100%";
	__$("buttons").style.height = "100%";

	btnNext.innerHTML = "Remove client from waiting list";
	btnNext.style.width = "400px"; 
	btnCancel.style.width = "250px";
	btnNext.style.display = "none";

	var display = "inline-table";

	btnDivs = __$('buttons').children[0].children;

	btnDivs[1].style.display = "none";
	btnDivs[2].style.display = "none";

	btnDivs[0].style.display  = "inline-table";
	btnDivs[3].style.display  = "inline-table";

	btnDivs[3].style.cssFloat = "right";

	var dsp = document.createElement("div");
	dsp.id = "dsp";
	dsp.style.display = "table-cell";
	dsp.style.border = "1px solid #3465a4";
	dsp.style.overflow = "hidden";
	dsp.style.borderRadius = "10px";
	dsp.style.width = "46%";
	dsp.style.height = "100%";
	dsp.style.verticalAlign = "top";
	dsp.innerTHML = "none";

	__$('textForid').style.height = "100%";
	__$('textForid').style.width = "100%";
	
	var lst = __$('ul1').children;
	
	for (var i=0; i < lst.length ; i++) {
			lst[i].onmousedown = function() {
			highlightList(this);
			__$('textForid').value = this.value;
			
			dspValue = this.innerHTML.split(';');
			var s = "";
			
	    var button = '<button style="margin: 3px; width: auto; font-size: 24px;"' +
					 				 'onmousedown="remove_client_from_waiting_list()"' +
					 				 ' class="button green" pos="0" section="0">Remove from waiting list</button>';

			var obj = sidePanelData[this.value];
			s += "<span class='d dL'> Accession Number</span>" +
					 "<span class='d dC'> : </span>" +
					 "<span class='d dR'>" + obj.accession_number  + "</span>";
					 
			s += "<span class='d dL'> Gender </span>" +
					 "<span class='d dC'> : </span>" +
					 "<span class='d dR'>" + obj.gender  + "</span>";

			s += "<span class='d dL'> Date of Birth </span>" +
					 "<span class='d dC'> : </span>" +
					 "<span class='d dR'>" + obj.birthDate  + "</span>";
					 
			s += "<span class='d dL'> Age </span>" +
					 "<span class='d dC'> : </span>" +
					 "<span class='d dR'>" + obj.age  + "</span>";					 
		
			s += "<span class='d dL'> Residence </span>" +
					 "<span class='d dC'> : </span>" +
					 "<span class='d dR'>" + obj.residence  + "</span>";
					 
			s += "<span class='d dL'> Date of Visit </span>" +
					 "<span class='d dC'> : </span>" +
					 "<span class='d dR'>" + obj.date  + "</span>";		

			s += "<span class='d dL'> Time of Visit </span>" +
					 "<span class='d dC'> : </span>" +
					 "<span class='d dR'>" + obj.time  + "</span>";
					 
			if (parseInt(obj.days_since_last_visit) > 0) {
				s += "<span class='d dL'> Period Since Last Visit </span>" +
						 "<span class='d dC'> : </span>" +
						 "<span class='d dR'>" + obj.days_since_last_visit  + " day(s) </span>";	
			}

			__$('dsp').innerHTML = s + "<br /> <br />" +button;  
		};
	}
	__$('textForid').value = -1;
	row.insertBefore(dsp, row.firstChild);
	__$("row0").parentNode.appendChild(__$('buttons'));
	
	//Load prioritised list
	var list = [<%= @w.to_s.html_safe %>];
	var d = document.getElementById('ul1').children;

	for(var i=0; i<list.length; i++) {
		li = list[i];
		d[i].innerHTML = "Accession :" + li.accession_number + ";" + li. gender + "; DOB : " + li.birthDate;
		d[i].value = li.id;
	}

	btnCancel.parentNode.parentNode.parentNode.style.backgroundColor="grey";
	
		if (__$('ul1')) {
			__$('ul1').children[0].onmousedown();
		}
	</script>
</html>

