<style>
	#tdb tr td {
		border: 1px solid black;
		padding 5px;
	}
</style>

Scan Client Barcode:
<br />
HTC
<br />
Facility:
<br />
Location: <%= " #{@current_location.name}" %>
<br />
Date:
<br />
User:

<br />
<br />

<%#= link_to 'Room Allocation', rooms_path + '/allocation/'%>
<%= link_to 'Reports', reports_index_path %>,
<%= link_to 'Administration', admins_path + '/index/' %>

<br />
<br />

<table id = "tdb">
	<tr>
		<td> Rooms </td>
		<td> Maximum <br /> capacities</td>
		<td> Seen</td>
		<td> Waiting</td>
		<td> Available <br /> Space</td>
		<td> Total Attendance	</td>
	</tr>
	
	<% @rooms_info.each do |name,data| %>
	<tr>
		<td> <%= name.humanize %> </td>
		<td> <%= data[:max_capacity] %> </td>
		<td> <%= data[:seen] %> </td>
		<td> <%= data[:waiting] %> </td>
		<td> <%= data[:available_space] %> </td>
		<td> <%= data[:total_attendance] %> </td>
	</tr>
	<% end %>
	<tr>
		<td> Totals </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
	</tr>
</table>

<%= link_to 'Logout', log_out_path %>
<% if defined? session[:datetime].to_date %>
	<a href='/admins/set_date'>Reset Date</a>
<% else %>
	<a href='/admins/set_date'>Set Date</a>
<% end %>
<% if @show_counselling_room %>
	<%= link_to 'Room Clients', @current_location %>	
<% end %>
<%= link_to 'Waiting list', unallocated_clients_path %>,
<%= link_to 'Swap Desk', swap_desk_path %>,
<%= link_to 'Find or Register Client', search_path %>

