<!DOCTYPE=HTML>
<html>
	<head>
		<title>HTC Dashboard</title>
		<script>
			var barcodeDestination = '<%= search_results_path %>'
		</script>
		<style>
			.blank {
				display: none;			
			}
                       <% if !session[:datetime].blank? %>
                        #uifield2label{
                                color:#8B0000;
                        }
                        <% end %>
		</style>
	</head>
	<body>
		<div id="main">
			
			<input type="text" id="appname" value="HIV Testing<br/>&<br/>Counselling" />

                       
			<input type="text" id="datetoday" value= <%= " #{@date}" %> />
			
			<input type="text" id="user" value= <%= @current_user.username %> />
			
			<input type="text" id="location" value='<%= "#{@current_location.name}" %>' />
			
			<input type="text" id="facility" value= '<%= facility_name %>' />
			
			<div id="buttons">
				<% if ! is_supervisor %>
				<button onmousedown="window.location = '<%= search_path %>'">Find or Register Client</button>
				<% end %>
				<button onmousedown="window.location = '<%= log_out_path %>'">Logout</button>

				<% if !session[:datetime].blank? %>
					<button onmousedown="window.location = '/admins/set_date'">
			    Reset Date</button>
				<% else %>
					<button onmousedown="window.location = '/admins/set_date'">
					Set Date</button>
				<% end %>
				<% if ! is_supervisor %>
				<button onmousedown="window.location = '<%= swap_desk_path %>'">Swap Desk</button>

                <button onmousedown="window.location = '<%= record_temp_path %>'">Record Temperature</button>
				
				<button onmousedown="window.location = '<%= waiting_list_path %>'"> Waiting list </button>
				<% end %>
<%# if @show_counselling_room %>
       <%#= link_to 'Room Clients', @current_location %>        
<%# end %>
				
				<#% if @show_counselling_room %>	
					<!-- button onmousedown="window.location = '<%= @current_location  %>'">Room Clients</button -->
				<#% end %>
			</div>
			
			<select id="tabs">
				<option value= <%= htcs_dashboard_path %> >Rooms Allocation</option>
                        <% if is_supervisor %>
                                <option value= <%= htcs_account_path %> >Manage Account</option>
                        <%  else %>
                                <option value= <%= htcs_account_path %> >My Account</option>
                        <% end %>
			<% if @is_counselor%>
				<option value= <%= reports_index_path %> >Reports</option>
			<% end %>

            <% if is_supervisor%>
                  <option value= <%= admins_path + '/index/' %> >Administration</option>
             <% end %>
			</select>
			
		</div>
		
	</body>
	
	<%= javascript_include_tag 'touchscreentoolkitV2/dashboard' %>
</html>
<script>
  var elements = document.getElementsByClassName('clicked');
  var currentTab = '<%= params[:tab] %>';
  if (currentTab.length > 0){
    for(var i = 0; i < elements.length; i++){
            elements[i].className = 'cell normal tab'
    };
    if (currentTab == 'admin'){
           admin = __$('uitab4')
           admin.setAttribute('class', 'cell clicked tab')
           __$("uidisplayiframe").setAttribute("src", admin.getAttribute("path"));
    }
    if (currentTab == 'report'){
           admin = __$('uitab3')
           admin.setAttribute('class', 'cell clicked tab')
           __$("uidisplayiframe").setAttribute("src", admin.getAttribute("path"));
    }
    if (currentTab == 'room'){
           admin = __$('uitab1')
           admin.setAttribute('class', 'cell clicked tab')
           __$("uidisplayiframe").setAttribute("src", admin.getAttribute("path"));
    }
  if (currentTab == 'my_account'){
      admin = __$('uitab2')
      admin.setAttribute('class', 'cell clicked tab')
      __$("uidisplayiframe").setAttribute("src", admin.getAttribute("path"));
  }
  }
  <% params[:tab] = ""  %>
</script>