<style>
.pd {
	text-align: center;
	margin-right:20px;
	width:250px;
}

.blue {
         border-radius: 15px;
         display: block;
         float: left;
         height: 60px;
         margin-right: 30px;
         vertical-align: baseline;
         width: 90px;
         background-repeat: no-repeat;
         border: 3px outset rgb(73, 93, 135);
         background-color: rgba(33, 103, 185, 0.75);
         opacity: 0.9;
         text-shadow:1px 5px 10px #fff;
         background-size: 110px 80px;
     }

.blue:hover{
    border: 4px outset rgb(73, 93, 135);
    background-color: rgba(33, 103, 185, 0.75);
}

.blue:active{
    border: 5px outset rgb(250, 220, 200);
    background-color: rgba(43, 103, 185, 0.75);
}

#csl {
	background-image: url(<%= asset_path 'csl.png' %>);
	margin-left:35px;
}

#stock {
	background-image: url(<%= asset_path 'stock_report.png' %>);
}

#temperature {
	background-image: url(<%= asset_path 'temperature.png' %>);
}

#moh {
	background-image: url(<%= asset_path 'mw.gif' %>);
}

#mohq {
  background-image: url(<%= asset_path 'mw.gif' %>);
}


#clnt {
	background-image: url(<%= asset_path 'clnt.png' %>);
	background-size: cover;
}

.txt {
  color: #000000;
  display: block;
  font-size: 17px;
  position: relative;
  text-align: center;
  top: 75px;
}

</style>
<br />
<br />

<base target="_parent" -->

<base target="_parent" >
<%= link_to '<span class="txt"> LH Monthy </span>'.html_safe, monthly_path, :class=>'blue', :id => "csl" %>
<%= link_to '<span class="txt"> MOH District Monthly</span>'.html_safe, moh_report_path, :class=>'blue', :id => "moh" %>
<%= link_to '<span class="txt"> MOH Combined Quarterly Site</span>'.html_safe, mohquartery_report_path, :class=>'blue', :id => "mohq" %>
<%= link_to '<span class="txt"> Stock report </span>'.html_safe, 'stock_report', :class=>'blue', :id => "stock" %>
<%= link_to '<span class="txt"> Temperature changes </span>'.html_safe, 'temp_changes', :class=>'blue', :id => "temperature" %>

