<html>
	<head>
	<script>
					var cancelDestination = "/htcs";
	</script>
	
	<style>
		#row2 {
			height:100%;
		}
		
		.dspLi {
			position:relative;
			display:block;
			width:100%;
			color: #000000;
			font-family: "Nimbus Sans L","Arial Narrow",sans-serif;
			font-size: 1.9em;
			margin-bottom: 19px;
			margin-top: 2px;
			padding: 10px;
		}
	</style>

	</head>
<body>

<%= form_tag show_client_path do %>
            <fieldset>
						<legend>HTC Facilty Rooms</legend>
	
						<br />
                <label for="id">  </label>
								<select id="id" name="id">
										<option></option>
										<%= @locations.each do |loc| %>
											<option value="<%= loc.id %>"> Name :<%= loc.name.humanize %>; Dsc: <%= loc.description%></option>
										<% end %>
									</select>
                <br />
							</fieldset>
 	<%= link_to "Cancel" , htcs_path %>
	<%= submit_tag "Finish" %>
           
<%end%>
</body>
	
	<%= javascript_include_tag 'touchscreentoolkitV2/ts' %>
	<script>
	
	//Highlist list object
	function highlightList(obj) {
    if(obj.getAttribute("target") != null){
      if(__$(obj.getAttribute("target"))){
        var opts = __$(obj.getAttribute("target")).children;
        
        for(var i = 0; i < opts.length; i++){
          if(opts[i].getAttribute("selecttag") != null){
            opts[i].removeAttribute("selecttag");
            opts[i].style.backgroundColor = (opts[i].getAttribute("tag") == "odd" ? "#eee" : "");
          }
        }
      }
      
      obj.setAttribute("selecttag", true);
      obj.style.backgroundColor = "lightblue";
      obj.style.color = "black";
    }
	}
	
	function create_new_patient() {
  // window.location = '<%= new_client_path(:dob => params[:date_of_birth], :residence => params[:residence], :gender => params[:gender]) %>'
	}
	
	function destroy(obj) {
		window.location = '/locations/destroy/' + __$('textForid').value;
	}

	function printLocation(obj) {
		window.location = '/locations/print/' + __$('textForid').value;
	}
		
		__$("row1").style.display="none";
		__$("buttons").style.verticalAlign = "bottom";
		__$("buttons").style.width = "100%";
		__$("buttons").style.height = "100%";
		
		btnNext.innerHTML = "New location";
		btnNext.onmousedown = function() { window.location = 'locations/new';};
		btnNext.style.width = "250px";
		btnCancel.style.width = "250px";

		var display = "inline-table";

		btnDivs = __$('buttons').children[0].children;
		
		btnDivs[1].style.display = "none";
		btnDivs[2].style.display = "none";
	
		btnDivs[0].style.display  = "inline-table";
		btnDivs[3].style.display  = "inline-table";

		btnDivs[3].style.cssFloat = "right";
		
		var dsp = document.createElement("div");
		dsp.id = "dsp";
		dsp.style.display = "table-cell";
		dsp.style.border = "1px solid #3465a4";
		dsp.style.overflow = "hidden";
		dsp.style.borderRadius = "10px";
		dsp.style.width = "50%";
		dsp.style.height = "100%";
		dsp.style.verticalAlign = "top";
		dsp.innerTHML = "none";

		__$('textForid').style.height = "100%";
		__$('textForid').style.width = "100%";
		
		var lst = __$('ul1').children;
		for (var i=0; i < lst.length ; i++) {
				lst[i].onmousedown = function() {
				highlightList(this);
				__$('textForid').value = this.value;
				
				dspValue = this.innerHTML.split(';');
				var s = "";
				
				btnNext.style.display = "inline-table";
				
		    var button = '<button style="margin: 3px; width: 250px; font-size: 24px;"' +
		    						 'onmousedown="destroy(this)"' +
		    						 ' class="button green" pos="0" section="0">Delete</button>'
				button += '<button style="margin: 3px; width: 250px; font-size: 24px;"' +
		    						 'onmousedown="printLocation(this)"' +
		    						 ' class="button green" pos="0" section="0">Print</button>'
		
				for(var v=0; v<dspValue.length; v++) {
					str = dspValue[v].split(':')
			
					s+="<span class='dspLi'>" +
							str[0].replace("Num","Number") + " : " + str[1] +
							"</span>";
				}
				
				s+=button;
				__$('dsp').innerHTML = s;  
			};
		}
		__$('textForid').value = -1;
		row.insertBefore(dsp, row.firstChild);
		__$("row0").parentNode.appendChild(__$('buttons'));
		
		
	</script>
</html>

