<h1>New location</h1>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%=form_tag locations_path do%>
	<%=label_tag :name %>
	<%=text_field_tag :name %>

	<br />

	<%=label_tag :description %>
	<%=text_field_tag :description %>
	
	<br />
	<%=label_tag :location_tag %>
	<%= select_tag(:location_tag, options_for_select(@location_tags)) %>

	<br />
	<%=submit_tag "Create Location" %>
<%end%>

<%= link_to 'Back', locations_path %>
