<html>
	<head>
	<script>
					var cancelDestination = '<%= protocols_path %>';
	</script>
	</head>
<body>


<%= form_tag locations_path do %>
            <fieldset>
			<legend>New location</legend>
	
                                  <br />
                                  <label for="name">Name</label>
                                  <input type="text" name="name" id="name" value="" optional="false" ajaxURL="/location/names" />

                                  <label for="description">Description</label>
                                  <input type="text" name="description" id="description" value="" optional="false" ajaxURL="/location/descriptions" />


                                  <label for="location_tag"> Location Tag </label>
																	<select id="location_tag" name="location_tag">
																			<option></option>
																			<%= options_for_select(@location_tags) %>
																		</select>
                                  <br />
							</fieldset>
 	<%= link_to "Cancel" , htcs_path %>
	<%= submit_tag "Finish" %>
           
<%end%>
</body>
</html>
